[2016-12-10 02:13] soumith commented on #615
The general improvement will be for all types

[2016-12-10 05:59] anoidgit opened #626 "How could I free the memory on GPU?"
I can not load my whole dataset to the GPU, because it is too big, so I load a part of it, put on gpu, and after train a few cycles, I reload another part. My code seems like this:
`
td={}
for i=1,32 do
table.insert(td,torch.load("fname"..somerand..".asc"):cuda())
for i=1,1000 do
train()
for i=1,4 do
table.remove(td,1)
table.insert(td,torch.load("fname"..somerand..".asc"))
end
end
`
but every time

[2016-12-10 13:08] #626 closed

[2016-12-11 21:59] apaszke opened #627 "Add bernoulli_*Tensor to THC"
Right now there's no way to sample from Bernoulli distribution with per-element probabilities. This it already implemented in [TH](https://github.com/torch/torch7/blob/master/lib/TH/generic/THTensorRandom.h#L8-L9).

[2016-12-13 16:54] MrZoidberg opened #629 "Cannot build cutorch on Windows"
I was trying to install cutorch using luarocks according the instruction on [torch7 wiki](https://github.com/torch/torch7/wiki/Windows#appendix-installing-cutorch).

I've unpacked cutorch using `luarocks unpack cutorch`, removed -j from rockspec, configured and generated make file using CMake GUI ([here is my config](https://dl.dropboxusercontent.com/u/3905973/Screenshot%202016-12-13%2018.30.08.pn

[2016-12-13 21:29] ErraticFox opened #631 "Failed to build, do I have to downgrade GCC?"
When I try to install via luarocks, I get the following error

[code]
I have GCC v6.2.1-1

[2016-12-13 22:54] soumith commented on #627
fixed via https://github.com/torch/cutorch/pull/630

[2016-12-13 22:54] #627 closed

[2016-12-14 11:23] saraswat opened #632 "Error: identifier "THCRealTensor_checkGPU" is undefined"
I am trying to build torch with commit id c0e51b98acbb54e6655343a57152b6e711ffdc2b, in order to build with a custom `extra/cunn/lib/THCUNN/ClassNLLCriterion.cu` (see Readme.MD at https://github.com/donglixp/lang2logic, and explanation for the change in this file.)

I get an error (originating from the new code):
```/u/vj0/torch/extra/cunn/lib/THCUNN/ClassNLLCriterion.cu(126): error: identifier "TH

[2016-12-14 17:03] Cadene commented on #361
I solved a similar problem by saving my network between each epoch that way :
`torch.save('net.t7', net:clone():clearState():float())`

instead of
`torch.save('net.t7, net:clearState())`

[2016-12-14 22:16] pavanky commented on #615
@soumith Thanks for the clarification. I did not check the progress made here: https://github.com/torch/cutorch/issues/529 :)

[2016-12-15 23:14] pavanky commented on #398
The bug still exists. `multinomial_with_replacement` in the test suite intermittently fails. The sampled value is always the `n_col` which should have zero probability.

The torch version has this line in the code:
[code]

Where as the cutorch version does not seem to have the equivalent function. This may result in cutorch picking up an invalid bucket number.

[2016-12-15 23:15] pavanky opened #636 "multinomial_with_replacement fails intermittently."
This happens when the test suite is ran multiple times with the following error:

[code]

[2016-12-15 23:15] pavanky commented on #398
potentially related: https://github.com/torch/cutorch/issues/636

[2016-12-16 12:16] IgnoreSilence commented on #425
@xiestone1992
I have the same problem.Did you solve it ?

[2016-12-19 02:31] xiestone1992 commented on #425
@IgnoreSilence

EM....I DID NOT FIX IT.

I just got a new PC, re-install ubuntu, install GPU driver and done.

I suggest you to check your GPU driver.Some of them are not supported by CUDA.

[2016-12-19 13:58] IgnoreSilence commented on #425
@xiestone1992
thank you～

[2016-12-20 06:50] ChijunZhang commented on #584
I meet error: no suitable conversion function from "half" to "double" exists

[2016-12-20 07:18] ChijunZhang opened #643 "error: no suitable conversion function from "__half" to "double" exists"
When building cutorch,
[ 15%] Building NVCC (Device) object lib/THC/CMakeFiles/THC.dir//./THC_generated_THCTensorMathPairwise.cu.o
/tmp/luarocks_cutorch-scm-1-8088/cutorch/lib/THC/THCTensorMathPointwise.cuh(457): error: operand types are incompatible ("__half" and "float")

/tmp/luarocks_cutorch-scm-1-8088/cutorch/lib/THC/THCTensorMathPointwise.cuh(467): error: operand types are incompatible ("__h

[2016-12-20 12:14] xgastaldi commented on #643
Same issue here

[2016-12-20 12:22] mahendrakhened opened #644 "cutorch Nvida -K20"
Hi
I am try to install Cutorch on my system -- ubuntu 14.04, cuda 8.0, gpu-- Nvidia -K20. However I get the following error. Could someone help me with this

CMake Warning at /usr/share/cmake-2.8/Modules/FindCUDA/make2cmake.cmake:66 (message):
   Removing non-existent dependency file: generic/THTensorLapack.h

CMake Warning at /usr/share/cmake-2.8/Modules/FindCUDA/make2cmake.cmake:66 (message):

[2016-12-20 14:36] soumith commented on #643
i fixed this by reverting the PR. things should work now. sorry for that.

[2016-12-20 14:36] #643 closed

[2016-12-20 14:58] soumith commented on #644
@mahendrakhened this should be fixed now via https://github.com/torch/cutorch/pull/645

[2016-12-20 14:58] #644 closed

[2016-12-21 02:38] ChijunZhang commented on #643
Thanks a lot

[2016-12-21 18:33] ArghyaPal opened #647 "symbol lookup error"
Hi @soumith, I got the error:
While running **th> require "cutorch"**
`/home/arghya/torch/install/bin/luajit: symbol lookup error: /home/arghya/torch/install/lib/libTHC.so: undefined symbol: _ZNSt13random_device7_M_initERKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEE
`

I tried:
1. rm -rf ~/.cache/luarocks
2. A fresh re-installation of all (luarocks install {cutorch,cunn})

but no luck.. :-

[2016-12-21 18:50] pavanky commented on #647
@ArghyaPal Can you run ldd on `libTHC.so` ?

[2016-12-22 05:04] ArghyaPal commented on #647
Hi @pavanky, thank you for your prompt reply.. :-)

I am getting the following output, after `ldd libTHC.so` on the said location,

(i.e.

`linux-vdso.so.1 =>  (0x00007fffda5e4000)
	libopenblas.so.0 => /opt/OpenBLAS/lib/libopenblas.so.0 (0x00007f950ab75000)
	librt.so.1 => /lib/x86_64-linux-gnu/librt.so.1 (0x00007f950a950000)
	libm.so.6 => /lib/x86_64-linux-gnu/libm.so.6 (0x00007f950a64a000)
	libgo

[2016-12-22 05:10] ArghyaPal commented on #647
And,

`ldd luajit` at `/home/arghya/torch/install/bin` this location:

(i.e.

json2lua  lua2json  luajit  luarocks  luarocks-admin  mdcat  qlua  th  torch-activate

)

`
linux-vdso.so.1 =>  (0x00007ffe0711c000)
	libreadline.so.6 => /lib/x86_64-linux-gnu/libreadline.so.6 (0x00007f3835496000)
	libdl.so.2 => /lib/x86_64-linux-gnu/libdl.so.2 (0x00007f3835292000)
	libm.so.6 => /lib/x86_64-linux-gnu/lib

[2016-12-22 05:17] pavanky commented on #647
Did you  (or the distro) upgrade yourcompiler recently ? I am not entirely sure where the error is coming from, but it looks like there has been an ABI incompatibility between two libraries in your setup.

[2016-12-22 06:13] ArghyaPal commented on #647
I get your point @pavanky. Yes, its an ABI problem. Let me try as per your direction.

Regards,
Arghya.

[2016-12-22 06:13] #647 closed

[2016-12-22 21:22] marcel1991 opened #649 "Cuda Out of Memory Error after restarting a previous stored model"
I am facing a strange error. I can train a model with batch size 68 and it's all working fine. Then after some iterations I would save it like this:
[code]
Then when I want to restart it I load it from disk like so:
[code]
However, then when I try to continue training I get a Cuda Out of Memory error with that batch size and I have to reduce it to 64 to get it working again.
This happens if I don'

[2016-12-24 06:23] #625 closed

[2016-12-27 03:32] BTNC commented on #629
Simply run `luarocks make rocks\cutorch-scm-1.rockspec` under cutorch\ is sufficient to install cutorch with vs2015 on win10. I can successfully install latest cutorch. That wiki is out of date. You can try again clean install.

[2016-12-28 17:40] marcel1991 opened #654 "Error when trying to use CudaHalfTensor for training"
I want to train my model using fp16 precision on my gpu. My gpu has the Pascal architecture and the cutorch.hasHalf flag indicates true. I am using cuDNN 5.1 and CUDA Toolkit 8.0.

As far as I understand it right I only have to change the Tensors that are allocated on my gpu from CudaTensor to CudaHalfTensor and the calculations should be in fp16 precision. However, when I do that I get an error o

[2016-12-28 18:01] gchanan commented on #654
I ran into something similar here: https://github.com/soumith/cudnn.torch/issues/299.

I haven't tried the changes that have been merged since then (have you updated cudnn.torch?), but on the older version in the first link, changing CUDNN_DIM_MAX from 8 to 6 fixed the issue for me.

[2016-12-28 18:53] marcel1991 commented on #654
No unfortunately that didn't solve the error. I tried it with various sizes smaller than 8.

I'm new to torch and installed it one month ago so I guess I have the newest cudnn.torch version.

[2016-12-28 21:31] MrZoidberg commented on #629
@BTNC thanks. it works!

[2016-12-28 21:31] #629 closed

[2016-12-29 21:08] soumith commented on #515
this is now merged into master

[2016-12-30 11:13] borisfom commented on #515
@soumith: thanks for giving this issue a second thought - actually, this issue should remain closed. 'Pseudo' override is in there now. As for Numeric refactoring - yes I do have a branch with those changes, but they do not use new Half type(s) - second template parameter instead, quite like Caffe does. I will submit a PR for them after rebase (was waiting for the THHalf stuff to get merged first)

[2016-12-30 11:13] #515 closed

[2016-12-30 16:43] #484 closed

[2016-12-30 16:43] soumith commented on #612
these bugs are solved now, thanks to @colesbury 's PRs.

[2016-12-30 16:43] #612 closed

[2016-12-31 15:45] ZahlGraf opened #658 "Compiling on Jetson TX1 missing symbols like "THHalfTensor""
Hello,

I'm currently trying to compile cutorch for Jetson TX1 board. Basically I followed the instructions from here:
http://www.jetsonhacks.com/2015/05/20/torch-7-scientific-computer-framework-with-cudnn-nvidia-jetson-tk1/

However I had to define the following paths to be able to call `sudo luarocks install cutorch`:
[code]

Maybe this is an important information?

During compiling I get the fo

[2016-12-31 15:48] soumith commented on #658
Update your CUDA version on the TX1 to 7.5 or above, if possible. Is that possible?

[2016-12-31 16:07] ZahlGraf commented on #658
Hi it seems, that CUDA 7.5 is not available for TX1.
But on the Jetson TX1 forum someone from NVIDIA wrote:

[2017-01-01 03:44] ErraticFox commented on #631
So I would have to downgrade or?

[2017-01-01 04:00] soumith commented on #631
folks from ArchLinux have been using a workaround, it's in the latest install.sh shipped with torch/distro: https://github.com/torch/distro/pull/189/files

[2017-01-01 14:33] fmassa commented on #624
I think this has been fixed in https://github.com/torch/cutorch/pull/657

[2017-01-01 16:19] #624 closed

[2017-01-01 17:18] ZahlGraf commented on #658
Hi again,

I decided to flash my Jetson with the latest filesystem provided by JetPack 2.3. It contains CUDA 8.0, thus this should not be any issue here.

So I close this ticket. Thanks for your support :)

[2017-01-01 17:18] #658 closed

[2017-01-02 12:08] xwgeng commented on #624
ok, it works well. Thanks

[2017-01-02 17:03] VessoVit commented on #292
+1 can we reopen that issue !

[2017-01-04 16:16] archenroot opened #659 "Compilation errors with GCC 6.2.0 and CUDA 8.0"
I am getting lots of errors on Gentoo, not sure if my ebuild file for package compilation is faulty, or the current brachn of cutorch is unstable.

Here is full list:
`tmp/portage/sci-libs/torch-cutorch-9999/work/torch-cutorch-9999/lib/THC/generic/THCStorageCopy.h:36:73: error: unknown type name ‘THHalfStorage’
/tmp/portage/sci-libs/torch-cutorch-9999/work/torch-cutorch-9999/lib/THC/generic/THCSto

[2017-01-04 16:17] archenroot commented on #659
Any ideas?...

[2017-01-04 16:22] gchanan commented on #659
have you tried updating torch7?  Those errors are referring to types that were added in the past couple days.

[2017-01-04 16:56] archenroot commented on #659
I am using https://github.com/torch/cutorch.git on every install attemt, so yes. i have always fresh clone in time.

I wasn't sure so I switched my profile down to 4.9.x gcc, but this errors are not relevant to gcc as I see, it failed as well.

[2017-01-04 16:59] soumith commented on #659
@archenroot

[code]

in that exact order

[2017-01-04 19:02] archenroot commented on #659
I will fallback to luarocks installation later, would like to follow Gentoo ebuild way, which is noting wrong ...

Thing is that all other packages are failing on missing THC.h header file missing which is part of cutorch.

I am now trying to compile from source cutorch again and will wait for result...

[2017-01-04 19:06] soumith commented on #659
okay, your cutorch install issue is that the torch7 install is outdated.

[2017-01-04 19:11] archenroot commented on #659
Ok, so I will unmerge and remerge all of them.

Q: Could be cutorch installed independently and is torch7 dependant on cutorch? This will also help me to stabilize Gentoo ebuild files for whole Torch stack.

Thanks.

[2017-01-04 19:12] soumith commented on #659
cutorch is dependent on torch7

[2017-01-04 19:30] archenroot commented on #659
I have minor question as I see something strange still:
`=broadwell\",\"-O2\",\"-pipe\",\"-g\",\"-fno-delete-null-pointer-checks\",\"-std=gnu++98\",\"-fPIC\" -gencode arch=compute_30,code=sm_30 -gencode arch=compute_35,code=sm_35 -gencode arch=compute_50,code=sm_50 -gencode arch=compute_52,code=sm_52 -gencode arch=compute_60,code=sm_60 -gencode arch=compute_61,code=sm_61 -gencode arch=compute_61,c

[2017-01-04 19:31] pavanky commented on #659
FYI there is no way to support CUDA 8 on gcc 6.x. The arch linux maintainer for CUDA started maintaining gcc-5 as a way to support CUDA 8. If Gentoo has gcc-5 in the repos, it may be worth trying to compile cutorch witch `CC=/usr/bin/gcc-5 CXX=/usr/bin/g++-5 luarocks make ...`

[2017-01-04 19:35] archenroot commented on #659
@pavanky - yes, you are right of course, I overrided manually the limitation in CUDA 8 one header file to get working with GCC 6.2 enforced :-) Usually when I face issue, I fail back to 5.*

[2017-01-04 19:42] pavanky commented on #659
@archenroot this is more than overriding the header. Check out the issue: https://bugs.archlinux.org/task/49272

[2017-01-04 19:47] archenroot commented on #659
@pavanky you are again right :-) I created specific environment profile in /etc/portage/env/gcc6-safe file with following content:
`CFLAGS="${CFLAGS}"
CXXFLAGS="${CXXFLAGS} -g -fno-delete-null-pointer-checks -std=gnu++98"`

Then in Gentoo way I can attach the env profile to specific application via /etc/portage/package.env file with entry:
`sci-libs/torch-cutorch gcc6-safe`

So I am using _old com

[2017-01-04 19:50] archenroot commented on #659
sci-libs/torch-cutorch-9999 package now successfuly compiled, as suggested the problem was in wrong dependency, torch is not dependant on cutorch, but vice-versa.

I can now locate the missing file at:
`/usr/include/luajit-2.0/THC/THC.h`

Thanks for your support.

[2017-01-04 19:52] archenroot commented on #659
Maybe if someone could suggest this CUDA_SDK_ROOT_DIR-NOTFOUND in some include path, here example:
`opt/cuda/bin/nvcc -M -D__CUDACC__ /tmp/portage/sci-libs/torch-cutorch-9999/work/torch-cutorch-9999/lib/THC/generated/THCTensorMathReduceDouble.cu -o /tmp/portage/sci-libs/torch-cutorch-9999/work/torch-cutorch-9999_build/lib/THC/CMakeFiles/THC.dir/generated/THC_generated_THCTensorMathReduceDouble.cu.

[2017-01-06 08:49] anthonyyuan opened #660 "th -e "require 'cutorch'" ...s/anthonyyuan/torch/install/share/lua/5.1/trepl/init.lua:389: attempt to index a string value"

[2017-01-07 16:00] Cadene commented on #660
I get the same error after a torch clean install

[2017-01-08 00:30] Cadene commented on #660
I looked to the last pull request and found :
https://github.com/torch/cutorch/pull/634

[code]

[2017-01-08 00:40] soumith commented on #660
i'm checking with a new install

[2017-01-08 00:50] soumith commented on #660
i'm not able to reproduce it with a fresh torch install. do i have to install it on a specific OS or version?

[2017-01-08 01:12] Cadene commented on #660
[code]

I just did this :
[code]

[2017-01-08 01:14] soumith commented on #660
@Cadene can you help me debug this one.
Can you run:
[code]
Also, if that fails,
[code]

[2017-01-08 01:15] Cadene commented on #660
[code]

[2017-01-08 01:17] soumith commented on #660
oh. for some reason, there seems to be a global variable called "require" (i.e. _G.require) that is a string.
This is very strange.

[2017-01-08 01:19] soumith commented on #660
does this happen when loading any other package?
like: require 'nn'

I will try to reproduce this somewhere.

[2017-01-08 01:21] Cadene commented on #660
same with cunn

[code]

[2017-01-08 01:23] Cadene commented on #660
nn, image, rnn, tds, torchnet works
what else could i try ?

[2017-01-08 01:24] soumith commented on #660
hmmm. i think any trigger to paths.require is failing.
Can you try:
[code]

[2017-01-08 01:26] soumith commented on #660
and if that fails too, any chance you can give me ssh to the machine. it will take me much longer to setup a debian.

All you will have to do is run a command on your machine to ssh into my server, so that i can get a reverse tunnel. Let's talk details on pytorch slack

[2017-01-08 01:26] Cadene commented on #660
[code]

[2017-01-09 10:04] f8281113 opened #662 "Install Cutorch Error: unknown type name ‘THHalfStorage’"
My environment is:

- OS: Ubuntu 16.04
- cuda version 8.0
- Torch version 7
- gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.4)

When I Install cutorch; `luarocks install cutorch`  the following error occurs,

Who Can Help Me,Thank You!

chenl@FS-S07:~$` luarocks install cutorch`
Installing https://raw.githubusercontent.com/torch/rocks/master/cutorch-scm-1.rockspec...
Using https://raw.gi

[2017-01-09 15:36] soumith commented on #662
run these commands:

[code]

[2017-01-09 15:36] #662 closed

[2017-01-10 06:59] f8281113 commented on #662
@soumith  Thanks replay ！ I had install torch7 ago:
 `git clone https://github.com/torch/distro.git ~/torch --recursive`
`cd ~/torch;`
`bash install-deps;`
`./install.sh`

I don't know Why have to install torch7 again..

If i run this commands:
`luarocks install torch7`

The result is

[2017-01-10 07:11] soumith commented on #662
luarocks install torch

but again, you'll have to reinstall nn, cutorch, cunn. Might as well just reinstall everything for convenience.

[2017-01-10 08:46] f8281113 commented on #662
@soumith , Thank you very much
i runing these commands:
[code]
the all of fine...that's OK!

[2017-01-10 16:54] archenroot opened #667 "Question:"
What is this for, could someone explain what is it doing in CMakeLists.txt and what is it good for?

ADD_TORCH_WRAP(cudatensormathwrap TensorMath.lua)
ADD_TORCH_PACKAGE(cutorch "${src}" "${luasrc}")

Thanks for any hints.

Ladislav

[2017-01-10 16:57] archenroot commented on #667
In general, why I cannot replace whole bottom of cmake file with:
[code]

[2017-01-10 19:17] JoostvDoorn opened #669 "Resize gives out of memory when there is still free memory"
It seems when resizing large Tensors out of memory errors occur relatively quickly. The example below is rather superficial, but extends to varying sequence lengths and batch sizes in RNNs when implemented with resize. Since resize does not provide any guarantee for the contents it should be able to allocate the needed memory (up to about n=8 in the example below).
[code]
[code]
This is not a new

[2017-01-10 19:30] pavanky commented on #669
@JoostvDoorn can you try adding `a:resize(1)` before calling `a:resize(1024, 262144, n)` ?

[2017-01-10 19:51] JoostvDoorn commented on #669
@pavanky That doesn't work, but `a:storage():resize(1)` does work.

[2017-01-10 20:18] JoostvDoorn commented on #669
Just to elaborate: this issue occurs in different modules for example in cudnn LSTM, where reserve is a really large Tensor. Uncommenting `model:clearState()` will reset the storage every iteration and allow usage of all memory.

[code]

[2017-01-11 09:00] archenroot opened #671 "Dependency on Magma -> Atlas prevent install on Laptop due to CPU throttling - related to CUDA acceleration"
Hi guys,

I found one older ebuild for cutorch, which didn't depend on magma. But while reading the code of cutorch, it looks like in case of MAGMA library is not found, the CUDA acceleration is not available.

In my case however MAGMA depends on ATLAS, and as soon as I work on Laptop, I have CPU throtling enabled, which ATLAS detect as NOGO issue.

Did someone fixed this issue, aka disabling cpu

[2017-01-11 09:59] archenroot commented on #671
Ok, thanks to

I created a patch for source of Atlas 3.10.3 (latest stable in time) thanks to [Eric at StackOverflow](http://stackoverflow.com/questions/14592401/atlas-install-really-need-to-get-past-cpu-throttle-check)

The patch in general disable checking of CPU throttling as following:
[code]

So I have  now MAGMA with ATLAS ready on my system and could build with full GPU support hopefully :-

[2017-01-11 18:29] archenroot commented on #671
Just info, that I compiled with magma-2.2.0 latest release available.

[2017-01-13 01:21] soumith commented on #671
thanks, i'm closing this then.

[2017-01-13 01:21] #671 closed

[2017-01-13 20:29] ruotianluo commented on #660
How far does this issue go now?

I got similar issue, but a different error message.
[rluo@archimedes rluo]$ luajit
LuaJIT 2.1.0-beta1 -- Copyright (C) 2005-2015 Mike Pall. http://luajit.org/

 _____              _
|_   _|            | |
  | | ___  _ __ ___| |__
  | |/ _ \| '__/ __| '_ \
  | | (_) | | | (__| | | |
  \_/\___/|_|  \___|_| |_|

JIT: ON SSE2 SSE3 SSE4.1 fold cse dce fwd dse narrow loo

[2017-01-13 20:32] soumith commented on #660
@ruotianluo what OS? Ubuntu? Debian?

[2017-01-13 20:35] ruotianluo commented on #660
@soumith CentOS Linux release 7.2.1511 (Core)

[2017-01-14 01:38] ruotianluo commented on #660
@soumith So what's actually the reason that causes this problem?
(BTW, I met this problem after trying to update to the latest torch cutorch and cunn; I also tried a new install)

[2017-01-14 09:31] DrImpossible commented on #660
I got to this thread in search for a solution to this very issue. I am getting the same error, after I updating my torch,nn,cunn,cudnn and cutorch libs.

[code]

[2017-01-14 16:29] soumith commented on #660
this is so frustrating, i am not able to reproduce this issue anywhere.
If anyone gave me access to their machine via ssh where this reproduces, i can take a look

[2017-01-15 04:04] DrImpossible commented on #660
I can give you ssh access to my server. What's strange is I am able to run it on my personal desktop.
The only major difference seems to be the CUDA versions. I have 8 in my personal desktop and 7.5 on the server. Is it occurring in servers having CUDA version 7.5?

[2017-01-15 06:15] soumith commented on #660
okay, can you email me at soumith@gmail.com we can figure out ssh access details. No it is not CUDA 7.5, i've already tested this.

[2017-01-15 17:46] ruotianluo commented on #660
@DrImpossible I got almost the same situation, but my desktop is also cuda 7.5.

[2017-01-16 12:12] tastyminerals opened #677 "cublas runtime error : library not initialized at THCGeneral.c"
I have 3 machines with the same torch setup. 2/3 machines are able to run neural network training while the third one refuses to do so. In order to test the issue, I used the same dataset on all 3 machines with the same set of command line arguments. 2/3 machines work while the third one reports:

`th main.lua --seqlen 10 --cutoff 4 --cuda`

[code]

My LD_LIBRARY_PATH on machine 3 is correct and a

[2017-01-17 13:05] orech opened #681 "nvcc fatal : Unsupported gpu architecture 'compute_61' while CUDA 8.0 is installed"
I have a problem while installing cutorch with luarocks

[code]

I have CUDA 8.0 version and GTX1070 gpu
[code]
and nvidia-367 driver

[code]

what could be the problem?

[2017-01-19 20:20] Nyrt opened #682 "no default constructor error on install"
I have been trying to update cutorch, since I've been having issues with torch that appear to have been fixed in the lastest version, but I am unable to install. I've been using "luarocks install cutorch" to install, which has been failing with the following results:
(sorry about the huge code block, I'm not sure what's useful.)

[code]

I'm running Ubuntu 14, and CUDA 8.0.

[2017-01-19 23:56] ruotianluo commented on #660
@soumith Any progress?

[2017-01-20 13:53] soumith commented on #660
until i get a reproduction, i dont know how to fix it. any public access ssh (so that i can login) to a machine that has this problem will be helpful.

[2017-01-20 17:38] lillekemiker commented on #682
I think this is similar to the error I am experiencing, although the error happens while compiling `THC_generated_THCTensorSortInt.cu.o` instead.
I was attempting a fresh install using `torch/distro` with the `install.sh` script on Ubuntu 14.04.5 with CUDA 8.0. However, I also tried installing with the current master on both torch7 (3caabb9) and cutorch (16fb59f) to no avail.

This is all the outp

[2017-01-21 00:07] ruotianluo commented on #660
@soumith Using binary search, I found the error doesn't appear if I roll back all the repositories before 12.28. And the error will occur if roll back to around 12.30.

Then I tried to find what exact commit in which package causes the error. It turns out, if I checkout the cutorch to commit https://github.com/torch/cutorch/commit/1ac06689dba1a4a672ed1fb3c3117000a46d7af5, i will get the error.
(Ha

[2017-01-21 00:10] soumith commented on #660
thanks for bisecting it. cc: @gchanan something broke on your commit.

[2017-01-21 00:31] gchanan commented on #660
Great!  Since I can't reproduce the issue, @ruotianluo can you revert the changes to init.lua and Tensor.lua from that commit separately and tell me if either (or both) fixes the issue?

[2017-01-21 00:47] ruotianluo commented on #660
@gchanan Reverting either or both don't fix the issue.

[2017-01-21 01:25] akinokaze commented on #682
Experiencing a similar issue as well.

CentOS 7.2, CUDA 8, gcc 4.8

Output of luarocks install cutorch here:

http://pastebin.com/ukmf0LdR

[2017-01-21 03:33] pavanky commented on #682
Possibly related to this issue: https://github.com/torch/torch7/issues/918

@akinokaze @lillekemiker @Nyrt Are you using the beta release of CUDA 8.0 or the final release?

[2017-01-21 06:03] akinokaze commented on #682
Release here.

# /usr/local/cuda-8.0/bin/nvcc --version
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2016 NVIDIA Corporation
Built on Wed_May__4_21:01:56_CDT_2016
Cuda compilation tools, release 8.0, V8.0.26

[2017-01-21 06:04] pavanky commented on #682
@akinokaze That's pre-release. Release is v8.0.44

[2017-01-21 06:06] akinokaze commented on #682
Today I learned! I'll try updating and see if that fixes my issue.

[2017-01-21 06:29] akinokaze commented on #682
Looks like it works. Going to 8.0.44 and cutorch installed successfully. Thanks for the help.

[2017-01-21 20:14] Nyrt commented on #682
Looks like I'm also using 8.0.26. Let's see if that works consistently.

[2017-01-21 20:57] Nyrt commented on #682
Yup! That appears to have done it! Thanks @pavanky, I've been banging my head against this for a while.

[2017-01-21 20:57] #682 closed

[2017-01-22 23:52] expenses commented on #413
@aep
@akhilsbehl

Moving nvcc to /opt/bin/nvcc_ and putting that scrip in its place didn't work for me at first, and gave me an unspecified error like:

     CMake Error at THC_generated_THCHalf.cu.o.cmake:207 (message):
     Error generating
    /tmp/cutorch/build/lib/THC/CMakeFiles/THC.dir//./THC_generated_THCHalf.cu.o

But then I realised I had forgot to run `sudo chmod +x /opt/cuda/bin/nvcc`!

[2017-01-23 15:55] lillekemiker commented on #682
I can confirm that I am also running CUDA 8.0.26. Thanks for your help @pavanky

[2017-01-23 15:58] gchanan commented on #660
@ruotianluo okay, let me prepare a few other commits for you to try out.  Thanks for helping track this down!

[2017-01-24 04:31] soumith commented on #667
@archenroot this is because TensorMath.lua has to be autogenerated (these are autogenerated bindings), and that's done with ADD_TORCH_WRAP. ADD_TORCH_PACKAGE can indeed be replaced with what you suggested i think.

[2017-01-24 23:28] gchanan commented on #660
@ruotianluo can you run "nvcc --version" -- what version does it say you are running?

[2017-01-24 23:37] gchanan commented on #660
@ruotianluo can you try the following branches and tell me if any of them work? (they are all single commits off the commit you identified)
https://github.com/gchanan/cutorch/tree/torchgenericstorage
https://github.com/gchanan/cutorch/tree/genericstorage
https://github.com/gchanan/cutorch/tree/genericstoragetensor

[2017-01-24 23:53] gchanan commented on #660
I should point out that these branches are just for testing "require 'cutorch'" -- functionality beyond that is expected to be broken.

[2017-01-25 06:08] ruotianluo commented on #660
$ nvcc --version
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2015 NVIDIA Corporation
Built on Tue_Aug_11_14:27:32_CDT_2015
Cuda compilation tools, release 7.5, V7.5.17

torchgenericstorage and genericstorage don't work.(the same error)
genericstoragetensor gets the following error:
/torch/install/share/lua/5.1/cutorch/init.lua:19: attempt to index field 'HalfStorage' (a nil value)

[2017-01-25 06:14] gchanan commented on #660
can you try genericstoragetensor with init.Lua and Tensor.Lua rolled back as before?

[2017-01-25 06:40] ruotianluo commented on #660
It works.

[2017-01-25 10:32] milnholm opened #684 "installing androin on TX1"
Hi, I'm new to this so please be understanding. That said if I'm just being lazy tell me where to go, figuratively.
I've just got a tx1 dev kit and I'm surprised that Android is not supported out of the box. I've read some of the threads on here and it seems that some of you have managed to get Android installed and running. But i cant find any kind of newbie guide or even just a basic rundown of

[2017-01-25 18:44] gchanan commented on #660
hmm, I'm still not sure what's going on here -- thanks for your continuing help.

Can you try https://github.com/gchanan/cutorch/tree/thchalfh ? (it shouldn't matter what you do with init.lua and tensor.lua)

[2017-01-25 19:58] ruotianluo commented on #660
This doesn't work.

[2017-01-25 20:24] suryabhupa opened #685 "Strange memory leak in LookUpTable"
There's a strange memory leak in LookUpTable that caused the cuda runtime to run out of memory. Updating to the newest cutorch/cunn solved the problem -- does anyone know what this might from?

[2017-01-25 20:26] soumith commented on #685
maybe you were hit by https://github.com/torch/cunn/pull/400

[2017-01-25 20:29] suryabhupa commented on #685
oh huh, yeah this might be what was causing it. I guess I didn't update cunn since early December...

Thanks for the reference!

[2017-01-25 20:29] #685 closed

[2017-01-25 21:33] gchanan commented on #660
How about the following?

https://github.com/gchanan/cutorch/tree/thchalfhreadwrite
https://github.com/gchanan/cutorch/tree/thchalfhreadwriteinit
https://github.com/gchanan/cutorch/tree/genericstoragetensorrestore

[2017-01-25 22:16] insperatum opened #686 "CudaTensor.index causing buggy state in CUDA 3.5?"
I'm using an older GPU (Tesla K20, cuda compute capability 3.5) and getting a very strange error, demonstrated below. Note that the command `t[1] = t[1]` will execute initially, but after line 4 the system enters an odd state where this command causes an 'invalid device function' error. The command runs fine again after the first failed attempt.

[code]

[2017-01-25 22:18] soumith commented on #686
did you compile cutorch on your own machine?
"invalid device function" points to where you might have built cutorch on a machine with a different GPU capability and copied over

[2017-01-25 23:17] insperatum commented on #686
Ah, had compiled on a cluster machine with different specs. Just recompiled and that fixed it. Thank you for being so responsive!

[2017-01-25 23:20] insperatum commented on #686
@soumith The field of deep learning should hold an annual celebration in honour of your huge contribution.

[2017-01-25 23:20] #686 closed

[2017-01-26 00:25] ruotianluo commented on #660
None of these works.

[2017-01-26 18:05] b10002005 opened #687 "require 'cutorch' and 'cunn' error"
I can't require 'cutorch' and 'cunn'.

[code]

[code]

but requiring 'torch' and 'nn' is work.

I have already try following methods and it still doesn't work.

[code]
and

[code]
Anyone could kindly help me. thx.

[2017-01-26 18:23] pavanky commented on #687
@b10002005 That's a driver error. Nothing to do with cutorch.

If you recently installed the driver, try rebooting the machine. If the problem persists, it is indicative of a driver not being installed properly.

[2017-01-26 22:33] gchanan commented on #660
Something very strange is going on...like the symbol generation is getting mixed up between torch and cutorch.

Can you try https://github.com/gchanan/cutorch/tree/generateStorageTH?

[2017-01-26 22:41] ruotianluo commented on #660
Doesn't work either.

[2017-01-27 05:31] b10002005 commented on #687
Thank you @pavanky .  It's the CUDA problem.  It's a little weird because CUDA can work at tensorflow but torch. and I have already try to reboot the server. then I try too run some CUDA 8.0 s ample code.

[code]

and my CUDA information is as following.

[code]

[2017-01-27 14:46] #687 closed

[2017-01-27 14:46] soumith commented on #687
yes that looks like some cuda problem. weird.

[2017-01-27 15:13] pavanky commented on #687
@b10002005 Tensorflow may be falling back to the CPU version because CUDA is failing.

[2017-01-27 17:23] pokaxpoka commented on #682
I have a similar problem even though I'm using 8.0.44..

I attach my error message. Do I get some advice ?

[out.txt](https://github.com/torch/cutorch/files/735848/out.txt)

Thanks.

[2017-01-27 18:09] pavanky commented on #682
test

[2017-01-27 18:10] pavanky commented on #682
The includes seem to be pointing to the older version. Can you delete CUDA (/usr/local/cuda) and reinstall it ?

[2017-01-27 23:49] pokaxpoka commented on #682
Thanks for your adivce ! I delete CUDA (/usr/local/cuda) and reinstall it as follows:

But, I still have the same problem.

Output here: [output2.txt](https://github.com/torch/cutorch/files/736511/output2.txt)

[2017-01-27 23:51] pokaxpoka commented on #682
Do I have to remove (/usr/local/cuda-8.0) ?

[2017-01-30 08:06] hashbangCoder commented on #677
Hi,
Did you manage to resolve this error? I'm facing the same issue.

[2017-01-30 19:02] gchanan commented on #660
@ruotianluo I sent you an e-mail, it would probably be more productive if we were able to find a time that works for both of us to sit in the torch gitter and debug in real time.

In any case, can you do the following?
Confirm this works: https://github.com/gchanan/cutorch/tree/genericstoragetensor (this is the same as the genericstoragetensor with the lua changes rolled back)

Then try:
https://g

[2017-01-31 06:38] ruotianluo commented on #660
Only genericstoragetensor_genseparate works.

[2017-01-31 08:16] danielle123123 opened #689 "Error after installation using MAGMA"
Hello,

I have MAGMA installed and I recently tried installing cutorch on a new machine, installation seems fine but afterwards require 'cutorch' generates an error. The output for the command:
`luajit -l libcutorch`
is:
`luajit: Torch internal problem: cannot find metatable for type <torch.Allocator>
stack traceback:
	[C]: at 0x7f9af8a40e40
	[C]: at 0x0046b7a0
	[C]: at 0x00406670`

I tried reinst

[2017-01-31 23:20] ruotianluo commented on #660
Here is my ~~confession~~ cause of the problem 😭.

It turns out there's another old torch installation on my system.
In my case, I installed a torch using `luarocks install torch --local` at some point. Since LUA_PATH puts the local folder first, th will call the libraries in local folder.

So check if you have any old torch installed on your LUA_PATH, @Cadene @DrImpossible ; it could be the same

[2017-02-02 02:32] soumith commented on #689
`luajit -l libcutorch` always will give that error.
What are the consequences of doing:
`luajit -lcutorch`?

I suspect that some symbols are missing when linked against magma (especially if magma is a static build and has been built with a CPU BLAS).

Do you use any of cutorch's Magma features like LAPACK functions?
If not, you can do this:

[code]

[2017-02-02 02:32] #689 closed

[2017-02-02 23:54] bcbrock opened #692 "Test failure on PPC64LE: cudaChar() assumes signed characters"
Hi,

A minor gripe. The assertion at line 3179 of `test.lua`
[code]
fails on PPC64LE versions of `cutorch`. This is a common problem that is caused by the assumption or explicit configuration that type `char` are signed in C code. This is an odd corner of the C specification that is user's choice: X86 defaults to signed characters, POWER to unsigned. See for example an analogous issue in Rocksdb:

[2017-02-03 17:24] DrImpossible commented on #660
I had some problems. I tried cleaning them and ran into a lot more. Path problems more or less here too. It works fine now. The above comment really helped. I did have some old lua version too. Thanks @ruotianluo

[2017-02-04 15:19] hfarazi commented on #522
I had the same problem but instead of downgrading my clang, I upgraded my Cuda to 8 and now it complies fine.

[2017-02-05 13:49] danielle123123 commented on #689
I see, the output of
`luajit -lcutorch`
is:
`luajit: ...nielle_ezuz/torch/install/share/lua/5.1/cutorch/init.lua:2: cannot load '/home/danielle_ezuz/torch/install/lib/lua/5.1/libcutorch.so'
stack traceback:

	[C]: in function 'require'

	...nielle_ezuz/torch/install/share/lua/5.1/cutorch/init.lua:2: in main chunk

	[C]: at 0x0046b7a0

	[C]: at 0x00406670
`
and installing after commenting the line

[2017-02-05 22:53] danielle123123 commented on #689
I managed to install cutorch after reinstalling MAGMA with openBLAS instead of MKL.
Everything works now, but I didn't manage to install the current version of cutorch with MAGMA that was installed with MKL.

Thanks for the tips!

[2017-02-07 20:01] gregjohnso commented on #649
I am experiencing the same issue.

[2017-02-07 20:50] pavanky commented on #649
@marcel1991 @gregjohnso is there a small enough model that can reproduce this issue ?

[2017-02-09 19:24] gchanan opened #698 "THCCachingHostAllocator can be slow with frequent copyAsync calls"
We have a program that has seen ~10-15% performance regression since the THCCachingHostAllocator was made default, due to slow copyAsync calls.  I wrote up a test script that amplifies the issue: https://gist.github.com/gchanan/0fd3d67d06d2dcae57ced77f0545d58e
(this script assumes 2 gpus)

th testcopyasync.txt
timer is	17.701434850693

THC_CACHING_ALLOCATOR=0 th testcopyasync.txt
timer is	8.508519

[2017-02-10 23:10] pixelou commented on #435
Same error here: nvidia samples and theano both work perfectly on the same setup.

[2017-02-11 01:40] SSeanHsu commented on #540
Awesome! Although I still get some warnings, it works. Thank you guys

[2017-02-11 05:25] soumith commented on #698
(2) sounds like a more forward looking solution. it's not unreasonable to expect rapid malloc/free without copyAsync.

[2017-02-13 14:33] doubledaibo opened #700 "The lastest torch.CudaTensor.multinomial() sometimes return 0"
The second assertion in the following code will fail occasionally, while the first assertion succeed.
   assert(torch.sum(out) > 0)
   it = torch.multinomial(out, 1):view(-1)
   assert(torch.sum(torch.eq(it, 0)) == 0)

Save the snapshot and minibatch right before the error cannot reproduce the error.
But run from the start will cause the error at the same iteration. (same random seed)
Trying to ge

[2017-02-13 14:41] doubledaibo commented on #700
Changing random seed sometimes cause another error:

/tmp/luarocks_cutorch-scm-1-5865/cutorch/lib/THC/THCTensorIndex.cu:321: void indexSelectLargeIndex(TensorInfo<T, IndexType>, TensorInfo<T, IndexType>, TensorInfo<long, In
dexType>, int, int, IndexType, IndexType, long) [with T = float, IndexType = unsigned int, DstDim = 2, SrcDim = 2, IdxDim = -2]: block: [74,0,0], thread: [32,0,0] Asserti
on `s

[2017-02-13 15:37] killeent commented on #700
@doubledaibo can you provide a script that reproduces this error consistently?

[2017-02-13 16:01] pavanky commented on #700
This is not new: https://github.com/torch/cutorch/issues/398

[2017-02-13 18:35] paulserraino opened #701 "Invalid argument at THNN.SpatialConvolutionMM_updateOutput?"
I'm running into issues when calling `_forward` method.

I believe the cause of the issue is an invalid `CudaTensor` instance, but i'm not sure. Thoughts?

System Info:
Ubuntu 14.04
Cuda 6.5
[code]

my python code:
[code]

stdout:
[code]

/nn/SpatialConvolution.lua:
[code]

[2017-02-13 21:51] colesbury commented on #698
Nice investigation.

I'm ambivalent about (2). I like that pinned memory allocations are ready for re-use earlier than with (1), but the locking and error handling is complicated. It's more likely that this solution has bugs.

I'm also not convinced it'll be faster for other use cases. For one, lots of malloc/frees without copies isn't a real use case. The whole point of pinned memory is for media

[2017-02-13 22:44] Botong commented on #682
Hi, I am also using cuda 8.0.26 however, I don't have root access to update cuda, do you have a way around this issue? Thanks!

[2017-02-13 22:49] pavanky commented on #698
👍 This makes 1 more elegant too :)

[2017-02-13 22:53] pavanky commented on #682
@Botong you can always download the cuda toolkit zip file and unpack it in your home directory. You don't need root privileges for this.

You'll have to `export CUDA_BIN_PATH=/path/to/new/cuda-8.0`  before installing the packages for them to pick up the right cuda packages.

[2017-02-13 22:55] pavanky commented on #682
Direct link to the run file: https://developer.nvidia.com/compute/cuda/8.0/prod/local_installers/cuda_8.0.44_linux-run

[2017-02-14 01:16] soumith commented on #698
ok let's go with (1) then. Greg, open up that PR and we'll merge.

[2017-02-14 01:35] doubledaibo commented on #700
@pavanky Related but slightly different, #398 says multinomial will sample some item which has zero probability, here I found multinomial sometimes sample 0 instead of some value in [1..n].

[2017-02-14 01:36] doubledaibo commented on #700
@killeent I'm trying to find a minimum fail case.

[2017-02-14 17:14] gchanan commented on #698
Sounds good, will put up a PR for (1).

[2017-02-14 23:43] gchanan commented on #698
https://github.com/torch/cutorch/pull/702

[2017-02-15 04:03] Lzc6996 commented on #480
if i don't want to update my software what should i do to solve the problem? can i get the old version of cutorch?

[2017-02-15 04:04] soumith commented on #480
see my comment above

[2017-02-16 10:07] AspiringLuddite commented on #677
We've got a similar issue.  In this case, we've got a machine with 2 gpus installed, and the code runs on gpu1 and fails with the above error on gpu2.  Literally the only thing that changes is a line in the options file. The 1 in this line - cmd:option('-GPU', 1,'Default preferred GPU')  - becomes a 2.

Any ideas would be most welcome ...

[2017-02-16 16:13] #698 closed

[2017-02-19 09:19] ShijieTJU opened #705 "THNN.lua:110: cuda runtime error (59) : device-side assert triggered"
Hi, i got these error, but cunn.test(), and cutorch.test() are passed.

(Ubuntu 14.04.02, cuda 8.0.61, cudnn 5.1)

THCudaCheck FAIL file=/home/torch/cutorch/lib/THC/THCTensorCopy.cu line=100 error=59 : device-side assert triggered
/home/vislab/torch/install/bin/luajit: /home/torch/install/share/lua/5.1/nn/THNN.lua:110: cuda runtime error (59) : device-side assert triggered at /home/torch/cutorch/l

[2017-02-20 12:54] bmilde commented on #337
I have a the following scenario: a GPU cluster where the head node has a different GPU architecture  version than the worker nodes. I compile cutorch on the head node, where it runs fine, but I can't run it on the worker nodes (because the CUDA code is now compiled for the wrong architecture).

How can I force the compilation of multiple architectures, how can I turn off the auto-detect magic? Com

[2017-02-20 15:38] soumith commented on #337
@bmilde you can do: `TORCH_CUDA_ARCH_LIST="All" luarocks install cutorch`, and then it'll compile cutorch for all supported CUDA architectures.

[2017-02-21 21:09] panfengli commented on #210
Try `sudo bash /torch/update.sh`

[2017-02-21 21:09] panfengli commented on #479
Try `sudo bash /torch/update.sh`

[2017-02-21 21:10] panfengli commented on #340
Try `sudo bash /torch/update.sh`

[2017-02-25 01:08] spro commented on #705
I saw this recently as well from PyTorch, getting a device-side assert when using `model.gpu()`. After killing the python process (anaconda3 via Jupyter Notebook)  it started to work again (sorry I don't have more detailed logs).

[2017-02-26 14:50] vadimkantorov opened #707 "Caching allocator (enabled by default now?) causes cuda OOM"
I've installed a fresh Torch on a new machine recently. My code started to OOM.

I have a function that allocates a few thousand medium-sized local CudaTensors (4Gb worth of memory). nil'ing the table with these tensors and calling `collectgarbage` didn't help to free the memory.

I do not have `THC_CACHING_ALLOCATOR` set to 1, but I gave it a try by explicitly setting `export THC_CACHING_ALLOCATO

[2017-02-26 22:39] richardassar opened #708 "cuda runtime error (59) : device-side assert triggered"
With code that was previously working fine until a recent Torch reinstall I'm now receiving the following error...

...

Assert introduced here:

https://github.com/torch/cutorch/commit/c58f2f2f6e9f3c8443058d226fc37b29c7a16fb3#diff-b27a6c2ae9fc16f5dfb01cf6cb45bb82R321

The copy:

https://github.com/torch/cutorch/blob/master/lib/THC/generic/THCTensorCopy.c#L18

Invoked from:

https://github.com/tor

[2017-02-26 23:00] richardassar commented on #708
I also get the following

[code]

However I have found a 0 that is slipping into my targets which might at least explain this one as t would be -1

[2017-02-26 23:26] soumith commented on #708
we've enabled device side asserts recently, that's why you see existing bugs in your code now exposed (they were silently ignored before). Because of the asynchronous nature of cuda, the assert might not point to a full correct stack trace pointing to where the assert was triggered from.
if you run the program with CUDA_LAUNCH_BLOCKING=1 th script.lua
this will help get a more exact stack trace

[2017-02-26 23:26] #708 closed

[2017-02-26 23:31] richardassar commented on #708
Thanks for your help Soumith.

It looks like my threaded audio loader / mini-batch maker is the culprit for the 0 (class index) but the nn.Bottle issue remains elusive. I'll comment if I resolve the issue on my side with latest cutorch, in case it helps anyone else who hits a similar issue.

[2017-02-26 23:35] soumith commented on #708
for the botte issue, see the last line of my comment above, will help debug

[2017-02-26 23:37] richardassar commented on #708
Was just about to say, if the true assert triggered was due to the bad 0-class entry in my targets then I assume the nn.Bottle assert was a false positive.

Running with `CUDA_LAUNCH_BLOCKING=1` now, thanks again.

[2017-02-27 08:35] richardassar commented on #708
Just confirming that this is resolved, the nn.Bottle assert was not the true failing assert. It would be good to optionally catch these host-side before they manifest on the device as in some cases it could be extremely time consuming to track down the true source with kernel launch blocking.

In this case a zero that sneaked into my targets was invalid input for ClassNLLCriterion.

[2017-02-27 12:40] soumith commented on #708
due to cuda 's asynchronous nature, we cannot catch these host side without a significant drop in performance

[2017-02-28 05:42] richardassar commented on #708
True, it is costly to validate host side.

Perhaps you could wrap assert to printf (or write to a custom ring buffer)
that is dumped before exiting Torch? You'd have to synchronise to gather
all output.

This would accumulate the output from every kernel with an assert failure
rather than just displaying one at random.

In any case I solved my issue. Thanks again.

On 27 February 2017 at 12:40, So

[2017-02-28 05:47] pavanky commented on #708
one potential alternative would be to have a reduction + assert before calling the kernel. Doing this all the time is going to be costly (and may not even be feasible all the time), but it could be useful if it could be optionally enabled to help with debugging.

[2017-03-01 09:47] khudkhud opened #715 ""Bus error" in Tx1"
The torch7 has been installed in TX1 ,and can do some math operations. But when I test the simple demo as follows, a 'Bus Error' happens. Is there some advice?  Thank you!

require 'nn';
net = nn.Sequential()
net:add(nn.SpatialConvolution(1, 6, 5, 5)) -- 1 input image channel, 6 output channels, 5x5 convolution kernel
net:add(nn.ReLU())                       -- non-linearity
net:add(nn.SpatialMaxP

[2017-03-01 09:57] khudkhud commented on #715
sorry, I should ask this question under torch7.

[2017-03-01 09:57] #715 closed

[2017-03-02 06:49] yxchng opened #716 "Need help in understanding the following error"
[code]
My code is as follows

[code]

This is just a script to run real time detection. I keep bumping into this error.

[2017-03-02 21:48] pavanky opened #717 "torch.cat fails when dimension not specified"
torch.cat fails with illegal memory access error when the dimension is not specified.
[code]

Error:

[code]

The CPU version (i.e. replacing `torch.CudaTensor` with `torch.Tensor`) works.

[2017-03-02 21:50] pavanky commented on #717
FYI I am working on fixing this. Just wanted to report it in case others come across this as well.

[2017-03-03 14:04] #717 closed

[2017-03-06 09:58] cangzhen commented on #681
I have a similar problem,who has the anwser?

[2017-03-06 16:21] pavanky commented on #681
@cangzhen @orech you need CUDA 8.0 toolkit for compute 6.1 GPUs

[2017-03-06 19:01] colesbury commented on #707
Do you have a repro script? I know the cuDNN calls we use allocate device memory outside the caching allocator, but I didn't think cuBLAS did.

[2017-03-06 19:17] vadimkantorov commented on #707
I will check if my code still blows with the caching allocator. I vaguely remember the crash was inside some matrix multiply code, but I'll let you know when I check it.

A manual forced release of unused blocks may still be useful for situations of using external libraries like cuDNN, and maybe some nasty allocation patterns.

[2017-03-07 13:41] albanD commented on #681
Also @orech the installer picks up your CUDA 7.5 installation, not the CUDA 8.0 one as can be seen in this line:
[code]

[2017-03-11 23:17] MaffooBristol commented on #435
My nvidia samples work fine; `luarocks install cutorch` works fine (even says `Found CUDA: /Developer/NVIDIA/CUDA-7.5 (found suitable version "7.5", minimum required is "6.5")`); but then this error still occurs when trying to use char-rnn or the like

[2017-03-12 14:04] beckybai commented on #527
Does anyone find the solution to that?

[2017-03-12 20:00] wangkua1 opened #728 "installing for device type no visible at the time of installation"
Hi,

In my work environment, we have multiple gpu servers, some with different board types.  Also, my local directory is mounted to each of the machine when I schedule a job, or ssh into them.  So basically I have 1 torch installation that's used across possibly different GPUs.

I'm having this funny issue where, if torch/cutorch/nn/cunn is installed on 1 machine with say GTX TITAN, it runs fine o

[2017-03-12 21:12] soumith commented on #728
[code]

that'll make it a universal install

[2017-03-12 21:12] #728 closed

[2017-03-13 01:44] wangkua1 commented on #728
Thanks Soumith!  That's exactly what I needed.

[2017-03-19 20:23] karel7 opened #730 "CuTorch out of memory issue, how to allow system ram usage"
Hello, I'm trying to run style transfer as implemented in this repository https://github.com/leongatys/NeuralImageSynthesis on my gpu using cuTorch but i can't go beyond a 500x500 image size with my 2GB of gpu memory and running on cpu is way too slow,  so i was thinking i could get around this by making the gpu use some system ram which it forbids itself to do.
I know that would be slower but tha

[2017-03-22 10:10] scamianbas opened #731 "How to make it compile with "--cudart=shared" when running luarocks install"
Thank you very much.

[2017-03-22 14:14] killeent commented on #731
Try:

`TORCH_NVCC_FLAGS="-cudart=shared" luarocks ...`

[2017-03-22 16:09] scamianbas commented on #731
Sorry, wrong description, actually it does compile with --cudart=shared but I don't know how to make it use /usr/local/rCUDA/lib instead of /usr/local/cuda/lib64 .
Thanks a lot

[2017-03-22 17:09] killeent commented on #731
You will probably have to muck with how CMakeLists.txt finds the CUDA library. You could do something like:

`SET(CUDA_TOOLKIT_ROOT_DIR /usr/local/rCUDA/)` before calling `FIND_PACKAGE(CUDA ...)` in the top-level CMakeLists.txt file.

[2017-03-22 17:25] pavanky commented on #731
Alternatively, try using `LD_PRELOAD=/usr/local/rCUDA/lib/libcudart.so.7.5 th some_script.lua`

[2017-03-22 19:27] Shaahinan commented on #210
Hi Guys, I am trying to run a .lua code with Torch7, I came across these errors, I would be really appreciative if someone can help me:
/home/angizi/torch/install/bin/luajit: /home/angizi/torch/install/share/lua/5.1/trepl/init.lua:389: module 'cutorch' not found:No LuaRocks module found for cutorch
	no field package.preload['cutorch']
	no file '/home/angizi/.luarocks/share/lua/5.1/cutorch.lua'
	no

[2017-03-22 20:13] Wrongful commented on #522
I did as @subzerofun said, yet I'm still encountering my problem. I'm assuming it has to do with how when I checked `clang --version`, I got version 7.0.2, not 7.2.
The problem I'm getting happens right once `[ 52%] Linking C shared library libTH.dylib` shows up on the terminal. It looks like:
`Undefined symbols for architecture x86_64:
  "_convolve_5x5_sse", referenced from:
      _convolve_5x5 i

[2017-03-22 21:23] subzerofun commented on #522
@Wrongful Since i've posted that little "fix" torch has already been updated and should work with CUDA 8 and the newest clang version. So please ignore my message from above!

I would suggest that you upgrade to CUDA 8:
https://developer.nvidia.com/compute/cuda/8.0/Prod2/local_installers/cuda_8.0.61_mac-dmg

**Warning:** If your current CUDA version is 7.x and you have forked/installed github repo

[2017-03-23 08:23] scamianbas commented on #731
Thank you all for your tips.

TORCH_NVCC_FLAGS="--cudart=shared" do the job but as there's no such env var for cunn/cudnn cudart is not shared for these luarocks.

LD_PRELOAD is fine (although deepLearning frameworks like Torch aren't supported by rCUDA yet).

[2017-03-27 14:58] hphong591992 opened #736 "THCTensorCopy.c line=18 error=4 : unspecified launch failure"
I wrote a script that was able to run for like a month without any issue. Whenever I ran, it took a day.

Now, I start having this error when I want to copy data from a Tensor to CudaTensor. I think there's a segmentation fault here, but I don't know that's the fix or if this is a hardware issue.

It's not the GPU issue since I switched GPU and it causes the same error. The only hardware error tha

[2017-03-27 15:08] soumith commented on #736
running your script with:

`CUDA_LAUNCH_BLOCKING=1 th script.lua`

might give more hints as to what the problem is.

[2017-03-27 18:15] hphong591992 commented on #736
Thank you Soumith, the error is segmentation fault. It appears at random locations in the code whenever I perform a copy similar to
[code]

I don't know what's the fix at this point yet.

[2017-03-28 01:14] soumith commented on #736
@gchanan can you reproduce the same issue locally?

[2017-03-28 01:20] hphong591992 commented on #736
Technically the code isn't this simple. It has the copy function to feed into the LSTM model (implementation from fb-rnnlib). I ran the code training on COCO, and the error randomly occurs.

[2017-03-28 02:21] soumith commented on #736
ok in that case, the copy is unlikely the issue. It is likely that the error is reported when the copy happens (cuda errors are asynchronously reported).

[2017-03-28 02:22] soumith commented on #736
i hoped that having the environment variable `CUDA_LAUNCH_BLOCKING=1 ` would give more hints, but looks like not.

[2017-03-28 08:44] hphong591992 commented on #736
Looking at the error, I checked this chunk of code
[code]

The error occurs at the kind (cudaMemcpyHostToDevice).
I suspect that the error is with the function cudaMemcpy. Maybe cudaMemcpyAsync is a solution?

[2017-03-28 08:57] Milaine opened #737 "THC.h includes THCGeneral.h, does not exist"
I tried to change THCGeneral.c / THCGeneral.h.in to .h but it didnt work, I'm not sure if the file was renamed or deleted, but it's missing.

[2017-03-28 14:18] tom-roddick commented on #511
I came across this issue recently, and was wondering whether now that there several different types of Cuda tensors, it would be worth having `TYPETensor:gpu()` and corresponding `CudaTYPETensor:cpu()` functions which convert to the appropriate Cuda type and back? I would be happy to submit a PR if you think it'd be worthwhile?

[2017-03-28 14:19] soumith commented on #511
i think that's worth adding, and its great that it wont crush the backward-compatibility. The naming seems okay too.

[2017-03-29 00:12] Demonicowl commented on #425
I updated CUDA toolkit, worked for me:/

[2017-03-29 02:39] anoidgit opened #738 "Will this library support `range()`?"
I have not found this funtion in [issue 70](https://github.com/torch/cutorch/issues/70), but it was available for `torch.LongTensor`, I have to call this on CPU and put the tensor to GPU with `cudaLong()` now. It's better if there is a GPU version, and It was useful when apply negtive sample.

[2017-03-29 02:41] shenxiul commented on #738
Yes, it's recently merged. See pull request #729 .

[2017-03-29 02:43] #738 closed

[2017-03-29 02:53] anoidgit commented on #738
That is very good, I will update my cutorch installation. @shenxiul

[2017-03-29 04:18] hphong591992 commented on #730
One approach that I did (and worked) is install LUA5.2 instead of LUAJIT.

[2017-03-30 05:36] #425 closed

[2017-03-30 08:35] mtobeiyf opened #740 "luajit cannot load libcutorch"
Ubuntu 14.04  CUDA 7.5

When I run ``$ luajit -l libcutorch``
it gives me an **error** like this:

    luajit: Torch internal problem: cannot find metatable for type <torch.Allocator>
    stack traceback:
	    [C]: at 0x7f5385349620
	    [C]: at 0x0046b7a0
	    [C]: at 0x00406670

I used MATLAB to call torch, but error occurs:

    /home/fing/torch/install/bin/luajit: /home/fing/torch/install/shar

[2017-03-30 12:43] albanD commented on #740
Hi,
Why do you try to require 'libcutorch' directly? You should juste require 'cutorch'.

The error you see when running 'luajit -l libcutorch' is actually because 'torch' should be required before requiring 'libcutorch'. Which is what 'cutorch' does properly when you require it.

The problem you see in matlab is that for some reason the 'libcutorch.so' file is not found when trying to load a shar

[2017-03-30 14:48] liangpengfei commented on #737
I have the same problem when I am compiling libcuda_utils.so in macOS sierra 10.12.1.

[2017-03-30 14:52] gchanan commented on #737
I'm not exactly sure what you are trying to accomplish -- could you describe in some more detail?

THCGeneral.h should be generated by the build, you shouldn't have to rename anything.

[2017-03-31 04:07] hphong591992 opened #741 "Issue with THCBlas.cu"
I got this issue while I was running code from OpenNMT. Has anyone experienced this issue before? If so, what's the fix here?

Thank you.

[code]

[2017-03-31 06:40] liangpengfei commented on #737
I think I find my problem .That is the real `THCGeneral.h` is located in `torch/install/include/THC` after we execute torch update.sh script(located in torch source dir) ,not the file `THCGeneral.h.in` located in `torch/extra/cutorch/lib/THC` .

That's the reason why we should't rename the file THCGeneral.h.in located in `torch/extra/cutorch/lib/THC`

[2017-04-02 22:40] aaronn commented on #522
This no longer works with Xcode 8.3's command line tools. Had to downgrade to 8.2

`nvcc fatal : The version ('81000') of the host compiler ('Apple clang') is not supported`

[2017-04-04 16:43] vince62s commented on #396
Hello,
I am having the same need. When freeing memory with (=nil) in cutorch, cutorch.getMemoryUsage() will report that the memory has been freed. however, cuda (nvidi-smi) still sees the memory as being used. So If we need another cutorch process to use some memory it may fail.
Is there any chance we can free the cuda memory without killing the lua process ?
cheers.
Vincent

[2017-04-04 18:29] karel7 commented on #730
Hello again
I solved the previous issue by uninstalling and reinstalling Torch and lua (radical huh ?) but unfortunately I still get the Out of Memory error when running image synthesis for slightly big images
Here's the error again :

THCudaCheck FAIL file=/home/michael/distro/extra/cutorch/lib/THC/generic/THCStorage.cu line=66 error=2 : out of memory
/home/michael/distro/install/bin/luajit: /hom

[2017-04-05 03:36] ClaraBing opened #743 "Illegal memory access at THCTensorCopy.c line 18"
My program was preparing input batch for fast RCNN, and gives me the following run time error when it calls copy():

[code]

My code is:
[code]

I am confused about two things:
1. The input itself does not seem to cause the error. Every time I run the code it crashes at iteration 6 with the same 2 input images (I guess `torch.randperm()` was using the same seed each time). I saved `t2` and run the

[2017-04-05 04:27] soumith commented on #743
it's possible that your error is not actually from this location.

Run your code after setting this environment flag for an improved stack trace:
[code]

[2017-04-05 12:14] hphong591992 commented on #736
@soumith I found out that the error is hardware issue. I reset BIOS to default mode, reinstall Ubuntu, install CUDA again, and it works.

[2017-04-05 14:36] #736 closed

[2017-04-05 17:30] hphong591992 commented on #741
It's indeed the issue with hardware.

[2017-04-05 17:30] #741 closed

[2017-04-05 17:31] hphong591992 commented on #730
I think you should remove the whole torch folder before re-installing it again.

Did you install Lua somewhere else as well?

[2017-04-05 18:02] ClaraBing commented on #743
@soumith Thank you very much for your reply! You are right, the error is not caused by copy() in iter 6, but  by `my_model:backward()` in iteration 5. Here is the error msg:
[code]

I guess the reason should be ill-prepared input data. But I am a bit confused since there was no error when running multiple iterations but only on the 2 images from Iter 5 (actually running on any fixed pair of 2 imag

[2017-04-05 19:08] karel7 commented on #730
I removed the whole torch folder and tried typing "lua" in a terminal, I found another binary in usr/bin by typing "which lua" and deleted it
Then I cloned the repository again and ran the installation with TORCH_LUA_VERSION=LUA52 (as opposed to TORCH_LUA_VERSION=52 , dont know if that was the problem).
After the installation was done I tried running the image synthesis and had an error : couldn't

[2017-04-05 20:14] karel7 commented on #730
I think I actually solved the problem this time by going back to gcc 4.8 (was on gcc 5.4) and running the installation all over again with TORCH_LUA_VERSION=LUA52
I got the "no luarocks package found for bit" again but "luarocks install luabitop" solved it right away
When I tried running synthesis again I still ran in to the "out of memory" error :

THCudaCheck FAIL file=/home/michael/distro/extra

[2017-04-05 20:22] hphong591992 commented on #730
I didn't do image synthesis. I just merged CNN (VGG 16)-LSTM into one model (2-hidden layers, hidden size is 500), and it takes around 3GB.

[2017-04-05 21:41] karel7 commented on #730
Ok so I suppose you have less than 3GB of gpu memory so that your computer had to use ram, but were you having the same error ? (same as the last one I showed)

[2017-04-05 21:50] hphong591992 commented on #730
No, I use GTX-1080. Most of my recent errors has something to do with the BIOS because when I reset everything to default, it's working normally now.

[2017-04-05 22:11] karel7 commented on #730
I just looked up the GTX-1080 it's got at least 8GB so you probably weren't running out of memory (not because you didn't have enough of it anyway)
Cuda can actually use ram with certain methods but these are seemingly not implemented in cuTorch
It seems there is no simple way to solve this issue, might as well close it

[2017-04-06 02:35] xpeng commented on #522
@aaronn use this command: sudo xcode-select --switch /Library/Developer/CommandLineTools

[2017-04-07 07:40] sunwooOh commented on #677
Same error is raised in my settings.

My system configuration:
* OS: Ubuntu 14.04
* GPU(I only have one gpu): Titan X(Pascal)
* CUDA v8.0.61
* CuDNN v5

Error message:

I trained and tested the network several times with same code, but the message appeared suddenly.

[2017-04-07 19:07] tworec commented on #677
Same here

- Ubuntu 16.04.2 LTS
- TITAN X (Pascal) (8 cards in box)
- CUDA V8.0.61
- CuDNN v5.1.10

[2017-04-09 05:14] nafitzgerald commented on #677
I had the same error occur when I was passing a LookupTable values which are beyond it's range (I don't believe LookupTable checks for this...). Could that be the issue?

[2017-04-10 08:42] AspiringLuddite commented on #677
We've found a workaround for our problem - to reiterate, on a 2 GPU machine running Ubuntu 16.04, a torch job which tries to use the second GPU fails with the error noted above.

If we set the environment variable CUDA_VISIBLE_DEVICES=1 outside of torch and then call the torch script with out changing the  torch option - ie leave this -  cmd:option('-GPU', 1,'Default preferred GPU') it seems to wo

[2017-04-11 23:19] gchanan opened #746 "CudaCharTensor:abs() returning negative values"
th> x=torch.CudaCharTensor(5)
                                                                      [0.0001s]
th> x
-16
  7
 64
  6
  0
[torch.CudaCharTensor of size 5]

                                                                      [0.0002s]
th> x:abs()
-16
  7
 64
  6
  0
[torch.CudaCharTensor of size 5]

[2017-04-12 14:42] PeiJieSun commented on #340
Thank you, it works for me. @panfengli

[2017-04-12 22:04] #746 closed

[2017-04-13 05:37] tylerlindell commented on #522
@aaronn were you able to get this running? I'm getting the same issue

[code]

[2017-04-13 19:03] aaronn commented on #522
@tylerlindell I downgraded to the command line tools in 8.2

[2017-04-14 14:06] tylerlindell commented on #522
okay, I have downgraded to CLT 8.2 and but im still getting the error when trying to install torch. running `clang --version` gives me this:

[code]

### Here is the end of my build output
[code]

[2017-04-14 15:12] tylerlindell commented on #522
okay, I took a peek at the file that was generating the error and it said
[code]

Since it had something to do with cuda, I just uninstalled cuda from my mac and the install completed successfully.

Thank you for your info @aaronn, it was helpful to me to figure this out.

[2017-04-14 17:35] subzerofun commented on #522
@tylerlindell Don't you need CUDA support for torch? Now you can only run torch in CPU mode - which in most cases is way too slow for most popular ML projects involving ConvNets, GANs etc.

If you have an Nvidia card i would suggest that you try to fix your CUDA install to benefit from the processing power of your GPU!

[2017-04-14 17:44] tylerlindell commented on #522
I don't have NVIDIA so I should be okay. I have OpenCL though for my GPU.
(At least until I upgrade to a PC with a NVIDIA card) :-)
--
Thank you, Tyler Lindell Software Engineer 828-484-6359
TylerLindell@gmail.com

[2017-04-15 04:32] Larriers commented on #708
I also get the similar following error
[code]
@soumith I have tried run the program with CUDA_LAUNCH_BLOCKING=1, however, it also presents the following error:
[code]
maybe error occurred when running the code---         local output = model:forward(input) in the following source code
[code]

[2017-04-15 06:58] richardassar commented on #708
The error is actually happening at `local err = criterion:forward(output, target)`, check your `target` tensor for values that are below 1 or greater than `output:size(2)` (assuming you are in batch mode).

[2017-04-16 01:03] retsyo opened #748 "VisualStudio14.0 NMAKE : fatal error U1065: invalid option “j”"
I try to install cutorch on my win7 64bits with VisualStudio14.0, but failed

btw, I can install `image` without problem

[code]

[2017-04-16 13:03] Larriers commented on #708
@richardassar
Thank you. I'm new to the criterion and CNN. I want to know how can I suppose the `target`during test the dataset on a model that has finished the train.

[2017-04-17 07:00] KyungwhaPark opened #749 "Cmake errors"
Installing https://raw.githubusercontent.com/torch/rocks/master/cutorch-scm-1.rockspec...
Using https://raw.githubusercontent.com/torch/rocks/master/cutorch-scm-1.rockspec... switching to 'build' mode
Cloning into 'cutorch'...
remote: Counting objects: 225, done.
remote: Compressing objects: 100% (179/179), done.
remote: Total 225 (delta 61), reused 94 (delta 44), pack-reused 0
Receiving objects:

[2017-04-17 08:03] richardassar commented on #708
Sorry, you're best asking questions unrelated to this issue at https://groups.google.com/forum/#!forum/torch7

[2017-04-17 08:15] barkmeow commented on #748
I'm having the same problem here.

[code]

[2017-04-18 08:11] szalonczuker commented on #749
Try this:
`luarocks install FindCUDA`
It is now working for me, I had the same issue, just [found the solution here.](https://askubuntu.com/questions/713836/warning-on-installing-cutorch-about-missing-dependency-files-that-are-there)

[2017-04-18 12:09] popperXP commented on #682
very helpful

[2017-04-19 02:45] KyungwhaPark commented on #749
I just downgraded CUDA version to 7.5 from 8.0. And it solved.

[2017-04-19 02:46] #749 closed

[2017-04-19 15:59] dno89 commented on #396
Hello, same issue here.
Could it be related to the nvidia driver?

[2017-04-19 16:13] pavanky commented on #396
@vince62s @dno89 I am assuming this is because of the caching memory manager that is currently enabled y default. Try launching with `THC_CACHING_ALLOCATOR=0` to have the memory released by the driver immedaitely.

[2017-04-19 18:15] vince62s commented on #396
Indeed, the behavior is much better. After each Var = NIL and collectgarbage(), most of the memory is released, however, there is still a small amount being taken by the luajit process (about 300MB). Since all the alloc is done through a class.new, I would have thought the freeing of memory would be recursive. Not a big deal, but just wondering if there is some kind of overhead that could still be

[2017-04-21 12:49] rabih-harb commented on #522
i removed cuda and it worked..
[100%] Built target text_file_reader_utils_test

[2017-04-21 12:55] tylerlindell commented on #522
Do you happen to know the version of CUDA you had installed?
--
Thank you, Tyler Lindell Software Engineer 828-484-6359
TylerLindell@gmail.com

[2017-04-21 13:01] rabih-harb commented on #522
this was the error :
[ 55%] Linking CXX shared library libCaffe2_CPU.dylib
[ 55%] Built target Caffe2_CPU
[ 55%] Building NVCC (Device) object caffe2/CMakeFiles/Caffe2_GPU.dir/utils/Caffe2_GPU_generated_math_gpu.cu.o
nvcc fatal   : The version ('80100') of the host compiler ('Apple clang') is not supported
----------
so i removed cuda -
sudo perl uninstall_cuda_8.0.pl     --manifest=.cuda_toolkit_

[2017-04-24 09:36] cshapeshifter opened #754 "thrust-related compile error when trying to install torch"
I want to install torch on a server maintained by our IT department. The server runs **Debian 8 (jessie)**, so I told IT to install the dependencies, as listed in `install-deps`:
[code]
Then, I ran `./install.sh`, which fails at some point with:
[code]
More context:
[code]
There are many more errors like that.

I can't figure out what is wrong, since Debian 8 is supported by the install scripts. I

[2017-04-24 12:11] pavanky commented on #754
You are using pre release version of CUDA 8. Please install the latest version.

@soumith do you think it is best if we can detect this in the CMake file instead of having to repeatedly answer this question ?

[2017-04-24 12:19] cshapeshifter commented on #754
How can I determine this? Please excuse my ignorance, but I am under the impression that this server has some version of CUDA 7 installed:
[code]
That's what the official jessie-backports repo provides:
https://packages.debian.org/jessie-backports/nvidia-cuda-toolkit
See also the list at the end of my original report. So, the server is running "official" debian 8 (backport) packages, which I thoug

[2017-04-24 12:22] pavanky commented on #754
@cshapeshifter ok I misread your error message. There's been a bunch of similar issues with people using a pre-release version of CUDA 8.

But you are using CUDA 7.5 which should work fine, so something else is wrong. Let me check it out further.

[2017-04-24 12:41] pavanky commented on #754
@cshapeshifter can you run `grep THRUST_VERSION /usr/include/thrust/version.h` ?

[2017-04-24 22:24] cshapeshifter commented on #754
Certainly:
[code]
also:
[code]
[code]
The package (1.7.0-2): [https://packages.debian.org/jessie/libthrust-dev](https://packages.debian.org/jessie/libthrust-dev)
There's also [https://packages.debian.org/jessie-backports/libthrust-dev](https://packages.debian.org/jessie-backports/libthrust-dev) - I could ask IT to install this newer version (1.8.1-1) instead.

[2017-04-24 22:32] pavanky commented on #754
@cshapeshifter That looks like the issue. I think thrust 1.7  is tied to an older version of the CUDA toolkit.  I think 1.8.1 came with CUDA 7.0 but it should work for this particular problem. There may be other compilation bugs that can pop up. Thrust 1.8.2 is the version shipped alongside CUDA 7.5 but it doesn't look like Debian packages that version.

[2017-04-25 13:01] zsrkmyn opened #755 "cutorch always reports error at wrong place"
I am not sure whether the issue should be owned by cutorch or cunn.

When I am using LookupTable with cuda, and the given index is out of range of the lookup table, torch doesn't report the error at once, instead, the error occurs when the following layer begin to forward.

Here is an example:
[code]

the output is:
[code]

As we can see in the output, we can even print the size of the result from

[2017-04-25 13:08] albanD commented on #755
Hi,

This is expected behavior because of how device side assert work on CUDA.
If you want the error to be raised at the correct place, you can set the following environment variable `CUDA_LAUNCH_BLOCKING=1` to make the cuda api synchronous and raise the error when it occurs but that will slow down your code.

[2017-04-25 13:22] zsrkmyn commented on #755
@albanD thanks a lot! I think I will set `CUDA_LAUNCH_BLOCKING=1` when I am debugging and unset it when running.

[2017-04-25 13:26] #755 closed

[2017-04-26 18:53] ngaurav opened #756 "Installation works with xcode 8.2, but not with 8.3"
It is caused due to newer clang version.

[2017-04-27 07:45] TonyChouZJU opened #757 "Install cutorch error: identifier "__half_as_ushort" is undefined"
Hello, I'm trying to install cutorh using 'luarocks install cutorch'.  But I got the following error while compling.
[code]

[  9%] Building NVCC (Device) object lib/THC/CMakeFiles/THC.dir//./THC_generated_THCReduceApplyUtils.cu.o
Building NVCC (Device) object lib/THC/CMakeFiles/THC.dir//./THC_generated_THCBlas.cu.o
Building NVCC (Device) object lib/THC/CMakeFiles/THC.dir//./THC_generated_THCStora

[2017-04-27 12:37] killeent commented on #757
I need to guard the TopK half specific code. I will fix this.

[2017-04-28 13:22] ahmedmazari opened #758 "CMake Error at THC_generated_THCTensorTopK.cu.o.cmake:267 (message):"
`luarocks install cutorch`

[code]

[2017-04-28 15:57] soumith commented on #757
fixed in master

[2017-04-28 15:57] #757 closed

[2017-04-28 15:57] soumith commented on #758
fixed in master

[2017-04-28 15:57] #758 closed

[2017-05-02 08:49] kirill-pinigin commented on #502
How to completely remove 7.5 package from  Ubuntu ?

[2017-05-04 02:39] cpdurham opened #760 "Compile error 'luarocks install cutorch'"
installed fresh new torch, did 'luarocks install cutorch' and got
[code]

[2017-05-04 03:03] soumith commented on #760
update your torch, then you're good to go:
[code]

[2017-05-04 03:18] cpdurham commented on #760
Wow, thanks! Installed just fine

[2017-05-04 03:18] #760 closed

[2017-05-08 14:42] liyongnupt opened #761 "Problem with installing cutorch on the MacOS Yosemite"
Problem with installing the cutorch on the MacOS Yosemite, I replaced the Apple clang with GCC, and install the cutorch. and get the error message as blow:

luarocks install cutorch
Installing https://raw.githubusercontent.com/torch/rocks/master/cutorch-scm-1.rockspec...
Using https://raw.githubusercontent.com/torch/rocks/master/cutorch-scm-1.rockspec... switching to 'build' mode
Cloning into 'cut

[2017-05-08 19:34] HassamSheikh commented on #761
getting same error.

[2017-05-08 23:48] HassamSheikh commented on #761
ok fixed it. The problem is the latest commit these guys have pushed into master in THCTensor file. I made a local copy of the repo. Took out the problem some code and installed it using luarocks. Worked for me.

[2017-05-09 00:01] soumith commented on #761
this will fix it:

[code]

[2017-05-09 00:01] #761 closed

[2017-05-09 14:53] haibin894609937 opened #762 "the class torch.CudaByteTensor cannot be indexed"
/usr/local/torch7/install/bin/luajit: ./misc/word_level.lua:94: the class torch.CudaByteTensor cannot be indexed
stack traceback:
	[C]: in function '__newindex'
	./misc/word_level.lua:94: in function 'forward'
	train.lua:255: in function 'lossFun'
	train.lua:313: in main chunk
	[C]: in function 'dofile'
	...cal/torch7/install/lib/luarocks/rocks/trepl/scm-1/bin/th:145: in main chunk
	[C]: at 0x0040

[2017-05-11 03:27] Naruto-Sasuke opened #764 "build error"
[ 90%] Building CXX object lib/THC/CMakeFiles/THC.dir/THCTensorRandom.cpp.o
Building C object lib/THC/CMakeFiles/THC.dir/THCTensorCopy.c.o
In file included from generic/THCTensor.c:1:0,
                 from /tmp/luarocks_cutorch-scm-1-3598/cutorch/lib/THC/THCGenerateAllTypes.h:17,
                 from /tmp/luarocks_cutorch-scm-1-3598/cutorch/lib/THC/THCTensor.c:7:
/tmp/luarocks_cutorch-scm-1-359

[2017-05-11 05:55] Naruto-Sasuke commented on #764
#761 Yes,  Executing the command `luarocks install torch ` before `luarocks install cutorch` can fix the problem.

[2017-05-11 05:56] #764 closed

[2017-05-11 14:16] liyongnupt opened #765 "Error always happen when run the OpenNMT sample on MacOS."
I re-install torch ,cutorch and cnn, but I run the OpenNMT sample always report this error? The error is below:(My GPU is GT750M and CUDA7.5).
THCudaCheck FAIL file=/tmp/luarocks_cutorch-scm-1-7360/cutorch/lib/THC/generic/THCStorage.cu line=66 error=63 : OS call failed or operation not supported on this OS
/Users/lvy/torch/install/bin/luajit: /Users/lvy/torch/install/share/lua/5.1/nn/utils.lua:11:

[2017-05-12 09:44] Hidden-dreamz opened #766 "Cannot install CUTORCH on ubuntu"
hey there,

I am failing to install cutorch with this error on ubuntu. I have working install of torch/cuda8/cudnn but am struggling with cutorch throwing up this error when i try and luarocks install cutorch. please help! I Have tryed the ./update.sh script and i still get the error so not sure what to do now. thanks!

[ 90%] Building C object lib/THC/CMakeFiles/THC.dir/THCStorageCopy.c.o
In file

[2017-05-12 13:43] mz2 opened #767 "Build failure in THCTensor.c – `THLongStorage_calculateExpandGeometry`"
Attempts at installing with `luarocks install cutorch` fails on my macOS 10.11.6 system (with CUDA 8 and libcdnn installed) with the following error message:

[code]

Any ideas of what I may be doing wrong?

[2017-05-12 14:46] mz2 commented on #767
As a workaround, if I go to my torch installation root and do `./clean.sh;build.sh` all works after that.

[2017-05-12 14:50] gchanan commented on #767
right, I believe the issue is your torch7 isn't up to date.  "luarocks install torch" followed by "luarocks install cutorch" should work.

[2017-05-12 14:51] gchanan commented on #766
your torch7 is probably out of date, "luarocks install torch" should get it up to date.

[2017-05-12 21:07] marcel1991 opened #769 "High gpu memory usage after cutorch update"
I just updated my cutorch version (my version before was from ~November 16) and found that the gpu memory usage increased by nearly about 15%. When I reverse that it is lower again. Is there a bug in the new cutorch version?

[2017-05-12 21:30] nicholas-leonard commented on #769
Can you provide a code snippet to test that?

On May 12, 2017 5:07 PM, "marcel1991" <notifications@github.com> wrote:

[2017-05-12 22:55] fmassa commented on #769
This is probably the caching allocator which is onby default. The memory is not freed imediately, but kept around so that allocations/ frees are non-blocking

[2017-05-13 14:54] marcel1991 commented on #769
But now I do get an out of memory error when I try to allocate some more memory. Doing that worked before

[2017-05-14 16:23] SergeyMalashenko opened #770 "THTensor_topk function has different behavior in TH and THC libraries"
THTensor_topk    returns indices from 0
THCTensor_topk returns indices from 1

[2017-05-15 09:57] loretoparisi commented on #767
@gchanan Thanks that seems to be the right solution: https://github.com/torch/cutorch/issues/760

[2017-05-15 21:14] BrighamM opened #771 "I am trying to get this working on my machine."
----------Contents of .lua file---------------
a = torch.Tensor(5,3)
a = torch.rand(5,3)
print(a)

b = torch.rand(3,4)
print("**********************")
print(b)
c = torch.Tensor(5,4)
c:mm(a,b)
print("*****************")
print(c)

print("CUDA CORES!")

require 'cutorch';
a = a:cuda()
b = b:cuda()
c = c:cuda()
c:mm(a,b)
-------------End of .lua file----------------

I try to run it with:
th testfile.

[2017-05-15 21:18] BrighamM commented on #771
btw this is on Linux Mint 18.1

[2017-05-15 21:19] pavanky commented on #771
@BrighamM Can you verify if you can run any other cuda samples (outside of cutorch) on your machine ?

[2017-05-16 13:34] BrighamM commented on #771
@pavanky  Thank you very much.  I wasn't sure what you meant at first but once I installed the nvcc toolkit it started working.

[2017-05-16 13:35] #771 closed

[2017-05-17 13:12] dno89 opened #772 "Severe performance drop with cunn and nngraph"
Hi all,
I'm experiencing severe performance problems using a nngraph built network on GPU.
The network has many inputs processed with a series of TemporalConvolution, all the resulting vectors are joined together and processed with some nn.Linear layers.
What I see is that the forward pass on GPU is approx 3 time slower than the same operation on CPU.
The backward doesn't suffer so much, but it's

[2017-05-17 13:49] TonyChouZJU commented on #757
The above error has gone. But arise a new error
[code]
Thanks again!

[2017-05-17 13:54] TonyChouZJU opened #773 "error: implicit declaration of function ‘THLongStorage_calculateExpandGeometry’"
#757
[https://github.com/torch/cutorch/issues/757](url)
The previous error has been fixed. But a new error has arisen.

[ 85%] [ 85%] [ 85%] [ 86%] [ 87%] [ 89%] [ 89%] Building CXX object lib/THC/CMakeFiles/THC.dir/THCCachingHostAllocator.cpp.o
Building CXX object lib/THC/CMakeFiles/THC.dir/THCCachingAllocator.cpp.o
[ 90%] Building C object lib/THC/CMakeFiles/THC.dir/THCGeneral.c.o
Building C obj

[2017-05-18 11:23] Vapourain3 commented on #705
hey. I met the same problem. Have u solved it?

[2017-05-19 14:54] sidney1505 commented on #773
i have exactly the same error but also no clue how to solve it

[2017-05-19 15:00] soumith commented on #773
luarocks install torch
luarocks install cutorch

[2017-05-20 22:20] #730 closed

[2017-05-21 17:45] #773 closed

[2017-05-22 23:34] atti-dall-atto commented on #522
@Wrongful @subzerofun  I had your problem with the _convolve_5x5_sse

I have Sierra 10.12.4 and Xcode 8.3.2 on a machine with Core 2 Duo CPU ( SSSE4.1 only - no SSSE4.2, no AVX)

output of clang --version is

[code]
[code]

 I am installing Torch for the first time *before* installing Cuda

The fix is mentioned in issue #32 by @yongduek  - there is a bad edge case that means this CPU fails to incl

[2017-05-24 13:20] yongduek commented on #522
According to the following there seems to be a chance you can use nvcc with Apple clang.
http://docs.nvidia.com/cuda/cuda-installation-guide-mac-os-x/#axzz4i09MjFCC

[code]
Hope you solve the problem and share the knowledge.

I have had the same problem several months ago, and turned off cuda support. Actually, heavy learning is done in a new linux machine with 4 nvidia titan X, through remote log

[2017-05-25 06:51] fpthink commented on #227
http://pytorch.org/docs/nn.html?highlight=crossentropyloss#torch.nn.CrossEntropyLoss
Shape:
Input: (N,C)(N,C) where C = number of classes
Target: (N)(N) where each value is 0 <= targets[i] <= C-1

[2017-05-26 15:52] nightrome commented on #153
I fixed this problem by making sure that the default folder "/usr/local/cuda" exists. Somehow my system only had "/usr/local/cuda-8.0", so I created a symbolic link: "ln -s /usr/local/cuda-8.0 /usr/local/cuda"

[2017-06-02 22:16] harjatinsingh commented on #681
@albanD can you point out why that is ? I have same issues where installer picks up version 7.5 even though i also installed and tested version 8.0

[2017-06-05 15:49] harjatinsingh commented on #681
@orech can you point out why that is ? I have same issues where installer picks up version 7.5 even though i also installed and tested version 8.0

[2017-06-05 16:19] orech commented on #681
@harjatinsingh I did not find any explanation of this error except not suitable cuDNN version. Finally I reinstalled Torch and used cuDNN V5, which is suitable for CUDA toolkit 8.0. Initially I had cuDNN V4.

[2017-06-07 10:40] lc8631058 opened #775 "Issue with instal cutorch: error at THC_generated_THCHalf.cu.o.Release"
Seems like there is a problem when install with NVCC, help!

[code]

[2017-06-07 19:32] kocabey opened #776 "cutorch cannot find the "thrust" library"
When I run `luarocks install cutorch`, installation fails with

[code]

But I already have the thrust library with all the files at `/usr/local/cuda/include/thrust/`. What might be causing this error?

Platform: Ubuntu 16.04
Output of `nvcc --version`
[code]

[2017-06-07 20:04] pavanky commented on #776
Can you show the output of `which nvcc` ?

[2017-06-07 20:07] kocabey commented on #776
`/usr/local/cuda/bin//nvcc`

[2017-06-07 22:20] kocabey commented on #776
One hacky patch is to add `INCLUDE_DIRECTORIES(${CUDA_INCLUDE_DIRS}/thrust)` to `/torch/extra/cutorch` and build the cutorch manually. This fixed the problem in my case.

[2017-06-07 22:20] #776 closed

[2017-06-09 22:27] natanielruiz commented on #757
I have the same problem as OP and noticed that the commit for fixing this only added some comments. I am using CUDA 8.0.61 and driver version 375.66, also have cudnn v5.

Thanks !

[2017-06-09 22:29] natanielruiz opened #777 "Install cutorch error: identifier "__half_as_ushort" is undefined"
This error came up when I tried running ./install.sh on the torch repo.

bash log:

---
Found CUDA on your machine. Installing CUDA packages
Warning: unmatched variable LUALIB

jopts=$(getconf _NPROCESSORS_CONF)

echo "Building on $jopts cores"
cmake -E make_directory build && cd build && cmake .. -DLUALIB= -DLUA_INCDIR=/home/natanielruiz/Documents/misc/torch/install/include -DCMAKE_CXX_FLAGS=${CM

[2017-06-13 10:02] marcel1991 opened #778 "Is there any function that does a convolution on the gpu similar to torch.conv2()?"
I am wondering if there is a function that does the same operation as torch.conv2() on the gpu? I tried conv2 with a CudaTensor but that gave me an error that it is not implemented.

[2017-06-13 10:03] albanD commented on #778
You may have forgotten to `require "cunn"` no?

[2017-06-13 10:07] marcel1991 commented on #778
No I did that. Still that error.

[2017-06-14 15:11] wudapeng268 opened #779 "Assertion `stream' failed in extra/cutorch/lib/THC/THCGeneral.c:519"
Hi guy
When I run `cutorch.setDefaultStream()`
My cuda is 8.0
/home/wup/torch/install/bin/luajit: /home/wup/torch/install/share/lua/5.1/nn/Container.lua:67:
In 3 module of nn.Sequential:
/home/wup/CFO/src/model/BiGRU.lua:127: Assertion `stream' failed.  at /home/wup/torch/extra/cutorch/lib/THC/THCGeneral.c:519
stack traceback:
	[C]: in function 'setDefaultStream'
	/home/wup/CFO/src/model/BiGRU.lua

[2017-06-15 18:46] pjc0308 opened #780 "topk cuda runtime error Nvidia TX2"
'topk' gives a 'cuda runtime error' on cuda tensors with greater than 800 elements when run on an Nvidia TX2. The cuda runtime error is not observed on a GTX1080. I have included some code snippets below.

this works
---------------
x = torch.rand(100):cuda()	--100 element cuda tensor
y,i = x:topk(3)

x = torch.rand(1000)	--1000 element tensor
y,i = x:topk(3)

this fails
-----------
x = torch.rand

[2017-06-15 20:34] wickedfoo commented on #780
It probably fails for any value of 513 or higher.

Can you change

https://github.com/torch/cutorch/blob/master/lib/THC/generic/THCTensorTopK.cu#L96

to say:
[code]
and see if it works?

Really this number should be based on occupancy for the kernel and the particular compute capability, but that involves more work.

[2017-06-15 20:35] wickedfoo commented on #780
if 512 doesn't work, try 256

[2017-06-16 19:55] pjc0308 commented on #780
Thanks for the suggestion. This was my first thought as well. I tried to change the block max block size to both 512 and 256. Both of these changes appear to cause a much more vague cuda runtime error.  See below. To ensure that I am correctly building cutorch I altered the max block size back to 1024 and it is working the same way as described in my initial post.  Additionally, I rebuilt both tor

[2017-06-16 20:23] marcel1991 commented on #778
So is it already implemented?

[2017-06-20 01:01] Lmy0217 opened #781 "too many resources requested for launch (after #657)"
Hi, I test my CNN model on testset with GPU K80, and I got a following error

[code]

The failed code is

[code]

But the code was ok on other GPU.

[2017-06-20 15:19] sergei-sh opened #782 "cutorch fails right after installation"
Installed torch, cuda, cunn.

test.py
[code]

Output:
[code]

Related code:

[code]
Maybe the problem relates to the fact that my GPU is not NVidia, but cutorch is needed as a part of 3-rd party project which I'm trying to use

[2017-06-20 15:22] albanD commented on #782
Please do not post the same question at multiple places. It is useless and creates a lot of noise.

cutorch/cunn only supports nvidia CUDA devices as explained [here](https://github.com/torch/cutorch#cutorch)

[2017-06-20 15:33] sergei-sh commented on #782
Thanks for your comment.

Sure. Can I avoid crash when importing as a part of a bigger project, sometimes running with non-supported devices?

[2017-06-20 15:35] albanD commented on #782
Do not require it? You won't be able to use anything from it anyway.

[2017-06-20 15:44] sergei-sh commented on #782
I would use other parts of the enclosing project. Do you mean it should fail in this situation by design? I suggest some other control path.

[2017-06-26 10:09] sergei-sh commented on #782
Any workaround ?...

[2017-06-26 10:21] albanD commented on #782
Make sure the library does not require cutorch, cunn or cudnn when `gpu_mode` is set to `false`.

[2017-06-26 13:11] sergei-sh commented on #782
The problem is that I need those requirements. If I can do without them finally, there will be no issue (I don't like to spend your time).

This is the example code. It converts GPU model to CPU model so that I could run it without NVidia GPU.

As you can see the task doesn't require the hardware (does it?). At the same time it will fail on `torch.load()` without `cudnn` and `cunn`.

[2017-06-26 15:07] albanD commented on #782
The thing is that if you have a GPU model (with modules built to run on GPU and parameters in CUDA tensors), you need cutorch and cunn to load them. Unfortunately there is no workaround: you need a CUDA device to load a torch GPU model.
The simplest thing to do is to ask whoever gave you the GPU model (or someone with a GPU) to run the conversion script locally and give you the CPU model directly.

[2017-06-26 15:22] sergei-sh commented on #782
Thanks a lot, this is much helpful.

[2017-06-26 16:35] pvtokmakov commented on #70
Hi guys,

any hope on implementing the conv2 (or xcorr2 for that matter)?

[2017-06-29 09:18] SergeyMalashenko opened #787 "Segmentation fault during CUDA initialization"
I use THC library in my C++ project. Before I didn't have any issues with the library. Some time ago I updated THC library in my projects and I have segfaults during CUDA initialization. What am i doing wrong?
`
state = (THCState*) malloc(sizeof ( THCState));
THCudaInit(state);
#ifdef USE_MAGMA
         THCMagma_init(state);
#endif
         const int numStreams  = 1;
         const int nonBlocking

[2017-06-30 10:43] SergeyMalashenko commented on #787
I think that when I call
[code]
CUDA hasn't been initialized

[2017-07-03 05:00] soumith commented on #787
we've switched CUDA to a lazy initialization scheme, instead of initializing on all devices by default. This looks like a bug, where we dont expect reserveStreams to be called before some THC call.

[2017-07-10 22:59] D-X-Y commented on #754
@pavanky  May I ask that is there some easy way?  I'm not a sudo user only have the user access.

[2017-07-10 23:01] pavanky commented on #754
@D-X-Y you can download cuda and install it to a local path. You don't need sudo privs for that.

[2017-07-12 12:04] cshapeshifter commented on #754
Installing libthrust-dev 1.8.1 solves the problem. Feel free to close the issue. I suppose the installer could check for this but I guess an enhancement request should be opened for that if necessary.

[2017-07-12 14:14] #754 closed

[2017-07-17 12:27] lifematrix opened #788 "Install cutorch error. error: too few arguments to function ‘THCudaTensor_varall’"
Hey, everyone,
I want to installed  **cutorch** on torch 7. The environment is:
[code]
However,  error  is raised like：
[code]

I appreciate any help.

Thank a lot!

Steven

[2017-07-17 14:13] Gorjel commented on #788
I have the same issue(

[2017-07-17 14:25] jay98 opened #789 "error: too few arguments while installing cutorch with luarocks in function THCudaTensor_varall"
I'm trying to install cutorch using luarocks.
I ran the command `luarocks install cutorch`
 I get the following error at 96%

`/tmp/luarocks_cutorch-scm-1-9417/cutorch/build/TensorMath.c:90174:8: error: too few arguments to function ‘THCudaTensor_varall’
 arg2 = THCudaTensor_varall(default_arg1,arg1);
        ^
In file included from /tmp/luarocks_cutorch-scm-1-9417/cutorch/build/lib/THC/THCGeneral

[2017-07-17 14:28] jay98 commented on #788
I have the same issue !

[2017-07-17 14:31] jay98 commented on #789
It's the same issue as [#788](https://github.com/torch/cutorch/issues/788)

[2017-07-17 14:31] #789 closed

[2017-07-17 14:58] e-bartsch commented on #788
I'm getting the same issue

[2017-07-17 15:52] soumith commented on #788
i'm looking into this. i'll issue a fix shortly. sorry for the trouble.

[2017-07-17 15:58] soumith commented on #788
this is now fixed on master. rerunning the command will fix it. Thanks a lot for reporting.

[2017-07-17 15:58] #788 closed

[2017-07-17 15:58] soumith commented on #789
this is now fixed on master. rerunning the command will fix it. Thanks a lot for reporting.

[2017-07-17 16:44] jay98 commented on #789
Thanks a lot !!! @soumith

[2017-07-17 19:36] marcel1991 commented on #707
How do you disable the caching allocator? Where do you set the flag to false?

I have the same problem that after a cutorch update my memory usage is now higher and I can only use a smaller batch size compared to before.

[2017-07-17 19:37] soumith commented on #707
you set it in your terminal before you run torch:

[code]

[2017-07-17 19:50] marcel1991 commented on #707
Okay thank you! That solved the OOM problem.

[2017-07-17 19:51] soumith commented on #707
do you have a small script that can reproduce your issue? that'll help us fix this once and for all.

[2017-07-17 19:58] marcel1991 commented on #707
No just a huge one :/ If you are talking to me.

[2017-07-17 20:39] vadimkantorov commented on #707
For me back then it happened, when I allocated a big list of tensors, each of whose were of different size (like `#rois x 128`). And when this list went out of range and new list was allocated this same memory was not well reused.

[2017-07-18 03:18] AtlantixJJ opened #790 "Compiliation error on Linux : Overload function confliction"
I am using Ubuntu 14.04 and CUDA 7.5. During my installation of torch, a bunch of errors is produced, which is listed (partly) here:

    THCReduce.cuh(310): error: more than one instance of overloaded function "min" matches the argument list:
                function "min(int, int)"
                function "min(unsigned int, unsigned int)"
                function "min(int, unsigned int)"

[2017-07-18 03:37] soumith commented on #790
can you give a full log file of errors? I can fix this.

[2017-07-18 05:47] AtlantixJJ commented on #790
The log is here. Hope it can help. Thanks.

/home/srthu2/CNN_tools/torch/extra/cutorch/lib/THC/generated/../THCReduce.cuh(310): error: more than one instance of overloaded function "min" matches the argument list:
            function "min(int, int)"
            function "min(unsigned int, unsigned int)"
            function "min(int, unsigned int)"
            function "min(unsigned int, int)"

[2017-07-20 09:51] lifematrix commented on #677
Hey, I just found [a soluntion](https://discuss.pytorch.org/t/cublas-runtime-error-library-not-initialized-at-data-users-soumith-builder-wheel-pytorch-src-torch-lib-thc-thcgeneral-c-383/1375/12) that works for me.

[code]
The reason is that the files in ```~/.nv``` has root permission, and initializing cublas need to access it.

Thank Rohith_AP!

[2017-07-21 05:06] YuqiHan opened #791 "identifier __half_as_ushort and __ushort_as_half is undefined"
When I run ./install.sh to install torch,it looks like there are some problems in build cutorch.

Building on 56 cores
-- The C compiler identification is GNU 4.8.4
-- The CXX compiler identification is GNU 4.8.4
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for wo

[2017-07-21 18:41] soumith commented on #791
you might be using the pre-release version of CUDA8, which is 8.0.21. Install a stable version, atleast 8.0.44

[2017-07-21 19:59] #507 closed

[2017-07-21 19:59] soumith commented on #507
fixed on master!

[2017-07-24 22:19] Romaboy commented on #413
For third time of getting error 'no space left' I finally got it:
do not `cd /tmp` before `git clone`, tmp has limited size

[2017-07-25 03:10] zhouyong64 opened #793 "GPU memory underused because DataParallelTable splits batches evenly"
I'm running a task with DataParallelTable on a 4-GPU server, each with 12G of GPU memory. If the batch size is set to be 400, and as I understand it, DataParallelTable splits batches evenly into 4 parts. As a result, the main device runs out of memory since it does more work than other 3 GPUs while other 3 GPUs' 60% memory are still available. So I have to make batch size smaller for the main devi

[2017-07-28 08:14] dengyueyun666 commented on #677
I had the similar problem and
`sudo rm -rf ~/.nv`
works!
Thank @lifematrix

[2017-08-03 19:34] natanielruiz commented on #777
Bump

[2017-08-03 19:35] natanielruiz commented on #791
I have the same problem and am running 8.0.61

[2017-08-09 01:08] YuqiHan commented on #791
Problem solved
I resinstall CUDA

[2017-08-14 11:13] rremani opened #795 "Model faster in GeForce GTX 1060 6 GB compared to Google cloud K80 12 GB, missing something?"
Hi @ezyang @soumith @szagoruyko ,
A typical resnet, model forward is taking 31ms for 0.2 data points in my home 6gb pc, but the same model forward is taking 51 ms for the same data on GCP k80 12GB. I am confused, missing something.

While I was training, only 644mb is used out of 12 gb:

+-----------------------------------------------------------------------------+
| NVIDIA-SMI 375.51

[2017-08-14 13:13] soumith commented on #795
not missing anything. stop double posting and tagging people.

[2017-08-14 13:13] #795 closed

[2017-08-14 13:52] rremani commented on #795
Apologies for that but I didn't double post on the same channel.
Can you explain me the reason why it is faster on 6gb and slower on 12 gb.
Thanks

[2017-08-14 14:16] albanD commented on #795
Hi,
You open two identical issues on two different torch repos, I think that counts as double posting...
The memory size is not the main factor (and a quite marginal one) wrt speed of execution on GPU.
There are plenty of materials online explaining how GPU works. In your case, for DL workload, I would say that the difference is mainly due to the fact that the K80 is a Kepler card, while the 1060

[2017-08-14 18:22] rremani commented on #795
Thanks @albanD, that's interesting, I never thought in those terms, just checked it out and it seems google would be launching p100's by early 2018. Anyways, this was what I needed.

[2017-08-15 21:25] ethanluoyc commented on #70
Just adding a note that `eye` has been implemented here https://github.com/pytorch/pytorch/pull/2395

[2017-08-17 15:02] sidharthms commented on #790
Any update on this issue?

[2017-08-20 04:54] Spandan-Madan commented on #705
This error often comes when you're indexing something out of bounds. I too get it when doing a model.cuda() sometimes. Haven't really pinned down when that happens.

[2017-08-22 00:21] buffybuffybuff commented on #766
I am getting an error in trying to install cutorch on Ubuntu as well -- I've updated torch7 about 5 minutes before running into this error.

luarocks install cutorch
Installing https://raw.githubusercontent.com/torch/rocks/master/cutorch-scm-1.rockspec...
Using https://raw.githubusercontent.com/torch/rocks/master/cutorch-scm-1.rockspec... switching to 'build' mode
Cloning into 'cutorch'...
remote:

[2017-08-22 00:36] buffybuffybuff opened #796 "Install issue in Ubuntu"
I updated torch immediately before trying to install. I'm getting this error and not sure what the issue is.

$ luarocks install cutorch
Installing https://raw.githubusercontent.com/torch/rocks/master/cutorch-scm-1.rockspec...
Using https://raw.githubusercontent.com/torch/rocks/master/cutorch-scm-1.rockspec... switching to 'build' mode
Cloning into 'cutorch'...
remote: Counting objects: 229, done.

[2017-08-22 22:57] dllehr81 opened #797 "cuda 9.0 "error: more than one operator "==" matches these operands""
While attempting to build torch from master with cutorch with cuda 9.0.103-1 on Ubuntu 16.04 I hit an error with multiple attempts to overload the "==" and "!=" operators.

Below is an example of the error I receive.
[code]

I was able to track down the two operator overloads.
One is in
https://github.com/torch/cutorch/blob/master/lib/THC/THCTensorTypeUtils.cuh#L176

And the other is in
`/usr/loca

[2017-08-23 04:40] csarofeen commented on #797
Before you build try `export TORCH_NVCC_FLAGS="-D__CUDA_NO_HALF_OPERATORS__" \`

[2017-08-23 17:48] dllehr81 commented on #797
Hey @csarofeen .  That did the trick!  On a side note.  This has the appearance of disabling the half operators in the cuda code.  Will this impact the half variables performance when run on the device?

[2017-08-23 18:13] csarofeen commented on #797
It will, for the better.

[2017-08-23 21:30] danpechi opened #798 "THCudaCheck unknown error"
Hi,
I'm trying to train an instance of Facebook's fairseq NMT model, however upon preprocessing the data, I receive the following error:
`THCudaCheck FAIL file= torch/extra/cutorch/lib/THC/THCGeneral.c line=70 error=30 : unknown error`

The line in the code is as follows:
`THCudaCheck(cudaGetDeviceCount(&numDevices));
`
Is there some way I could assess what my numDevices is? I'd assume cudaGetDevi

[2017-08-23 21:37] soumith commented on #798
error 30 usually means you have a driver that's not initialized. running any CUDA program with `sudo` once on your machine will help initialize the relevant /dev/nvidia* files and avoid error 30

[2017-08-23 21:58] zhangxiangxiao commented on #798
Encountered exactly the same problem yesterday after upgrading nvidia driver to 384.59. Executing any CUDA sample program under root for once solved it for me, as suggested by @soumith .

[2017-08-24 18:23] danpechi commented on #798
Hi, I tried this using the hello-world program from here: http://computer-graphics.se/hello-world-for-cuda.html

After compiling and running it by `sudo ./a.out` and then running fairseq stuff again, I am still getting the same error. Am I missing something here?

[2017-08-24 21:38] VictorSigma commented on #790
I too am facing the same issue. I was able to install the older version using
`luarocks install cutorch 1.0-0`

[2017-08-29 04:18] Sloth6 commented on #766
Same: any update?

[2017-08-29 08:49] albanD commented on #766
The problem is that your cuda install is not detected.
Do you have it properly installed?
If so, you can try and manually specify it with `CUDA_TOOLKIT_ROOT_DIR=/path/to/your/cuda/install luarocks install cutorch`.

[2017-08-29 22:00] mescarra commented on #757
@natanielruiz, I'm in the exact same situation. Could you solve it?

[2017-08-29 22:30] natanielruiz commented on #757
Basically there's two IF statement and in those statement it uses the undefined variables. I just bypassed the IF statements and forced it into the ELSE statement. It worked..

[2017-08-30 00:03] sxjzwq commented on #790
I met the same error. Any update? I can install cutorch 1.0-0 and cunn 1.0-0, but fail to pass the test.

[2017-08-30 00:06] sxjzwq opened #799 "compiling error, overload function 'min'"
make[2]: *** [lib/THC/CMakeFiles/THC.dir/generated/./THC_generated_THCTensorMathReduceByte.cu.o] Error 1
make[2]: *** Waiting for unfinished jobs....
1 error detected in the compilation of "/tmp/tmpxft_00007d4d_00000000-7_THCTensorMathReduceChar.cpp1.ii".
CMake Error at THC_generated_THCTensorMathReduceChar.cu.o.cmake:267 (message):
  Error generating file
  /home/tommy/torch/extra/cutorch/build/l

[2017-08-30 00:36] sxjzwq commented on #799
CUDA 8.0 solve this

[2017-08-30 00:36] #799 closed

[2017-08-30 11:50] mescarra commented on #757
Thanks @natanielruiz, that did the job for me too.

[2017-08-30 14:00] VictorSigma commented on #790
Also updating to Ubuntu 16.04 fixed the issue as well. This seems to be only effecting 14.04

[2017-08-31 09:22] AtlantixJJ commented on #790
emm....I rolled back torch repository for a few commits and everything seems to be fine.
commit 497e8b98596eebc7d2b7852d3bdb3df3a43bbe9b

[2017-09-01 23:32] wbqtac commented on #677
hi there, I removed ~/.nv, but still doesn't work. Will it work if I reinstall all the libraries?

[2017-09-08 07:06] betterjordache commented on #797
@csarofeen this did it for me as well, thank you!

[2017-09-10 19:42] ctzurcanu opened #800 "Errors installing on MacOSX Sierra, Cuda 9,"
OS: MacOSX 10.12.6
clang --version Apple LLVM version 8.1.0 (clang-802.0.42)
Xcode: 8.3.1
Cuda 9.0.103
hardware: a Pascal GPU

I read #797  and I tried also: export TORCH_NVCC_FLAGS="-D__CUDA_NO_HALF_OPERATORS__"

Excerpt from output:
/tmp/luarocks_cutorch-scm-1-4066/cutorch/lib/THC/THCTensorRandom.cuh(156): error: specified alignment (4) is different from alignment (2) specified on a previous dec

[2017-09-12 10:53] sfraczek commented on #677
Thank you @lifematrix! I couldn't find the solution anywhere!

[2017-09-18 16:09] mendadala commented on #175
Can anyone help me? I am getting this error:(!

MARSs-MBP:must-cnn neptune$ th main.lua
warning: '?.split' will not override existing symbol
{
  gpu : 1
  datadir : "./data/4Protein/data"
  task : "absolute.lab"
  dataset : "./data/4Protein"
  kernelsize : 5
  hiddenunit : 1024
  nclass : 2
  hashdir : "./data/4Protein/hash"
  cuda : false
  nonlinearity : "relu"
  poolingsize : 2
  embedsize : 15

[2017-09-20 08:22] zmlmanly commented on #777
@natanielruiz  I have the same problem, do you have solved?

[2017-09-27 09:04] urmanbm opened #801 "Can't install cutorch due to "nvcc fatal: Unsupported gpu architecture" even if I have the most recent CUDA toolkit and driver"
Cuda toolkit and driver are properly installed. Listing from terminal is below.

-- Found Torch7 in /home/boris/torch/install
-- Removing -DNDEBUG from compile flags
-- TH_LIBRARIES: TH
-- MAGMA not found. Compiling without MAGMA support
-- Autodetected CUDA architecture(s): 2.1(2.0)
-- got cuda version 9.0
-- Found CUDA with FP16 support, compiling with torch.CudaHalfTensor
-- CUDA_NVCC_FLAGS: -g

[2017-09-29 18:25] stilltracy opened #802 "undefined symbol: __cudaRegisterLinkedBinary_*** after installing cutorch"
Hi,
I installed cutorch with `luarocks install cutorch 1.0-0`.  But when I tried to run some benchmarks I got the following:

`/home/acg/torch/install/lib/libTHC.so.0: undefined symbol: __cudaRegisterLinkedBinary_54_tmpxft_000032bc_00000000_7_THCReduceApplyUtils_cpp1_ii_653d034f`

Any thoughts on what I might be missing?

FYI, some information about my building environment:
OS: Linux acggpu1 4.4.0

[2017-09-29 18:26] stilltracy commented on #802
btw, what's the difference between 1.0-0 and scm-1? I've tried installing both but neither worked.

[2017-10-01 14:42] rahul411 commented on #677
Did anyone find the solution, I am having the same problem. I tried the below command
`sudo rm -rf ~/.nv`
but no success. Can someone help me with this

[2017-10-05 08:39] urmanbm commented on #801
Turned out to be not cutorch problem.

The problem was that CUDA 9 toolkit doesn't support my GPU architecture anymore. I had to install version 8 instead.

[2017-10-10 22:27] #801 closed, assigned to nobody

[2017-10-17 10:08] philgyford commented on #660
@ruotianluo I think I have a similar problem - at some point I installed a version of torch that didn't work. I've tried again and got this far but am getting these errors. However, I'm not sure what my `LUA_PATH` *should* be, or where it's set! Any pointers? Currently I get:

I can't work out what shouldn't be there... the couple of bits I've tried deleting just result in the same or different er

[2017-10-17 14:32] ruotianluo commented on #660
@philgyford  don't change your lua_path path, just delete you other versions.

[2017-10-17 14:41] philgyford commented on #660
@ruotianluo Thanks, but it was a while ago and I don't know exactly what was installed where...

[2017-10-17 15:03] ruotianluo commented on #660
@philgyford then I guess you need to search through the lua_path to see which directory it's in. Just to make sure, you at least reinstall the latest torch somewhere right?

[2017-10-17 15:19] philgyford commented on #660
@ruotianluo Yes, I recently installed it in `/Users/phil/torch/`, but I'm not sure where the previous one is. Thanks anyway.

[2017-10-20 07:56] lambdawill opened #803 "Once I run torch code on a multi-gpu machine. It slows down over 100% !"
@ngimel
Hi, ngimel.
I am faced with a very big performance problem in torch code and need help from you.
My code can only run on a single GPU.
When the I run my torch code on a machine which has single GPU, the speed is 0.5s per image. However,
when try running it on a machine which has multiple GPUs, it slows down to 1.2s per image.
**More than 100% speed decrease！** I find that other gpus all ha

[2017-10-20 09:32] lambdawill commented on #803
Update:
'export CUDA_DEVICES_VISIBLE=5' makes no differences.
![1](https://user-images.githubusercontent.com/26055298/31814336-eb439ebe-b5bb-11e7-99eb-12ba3a229e6a.png)

[2017-10-21 01:31] #803 closed, assigned to nobody

[2017-10-23 15:24] tastyminerals opened #804 "luarocks cannot find cutorch"
Reinstalling Torch on my machine.

[code]

SOLUTION:
This happens if you run `luarocks` installed on your system by default in `/usr/bin/luarocks`. You should not use it. Use luarocks bundled with Torch distro in `torch/install/bin/luarocks` instead!

[2017-10-23 15:28] #804 closed, assigned to nobody

[2017-10-23 23:33] t-li commented on #800
I got the same errs while reinstalling torch on a new machine. Seems torch7 works with cuda 7.5/8 only. You can download the local install package from
https://developer.nvidia.com/cuda-toolkit-archive

[2017-10-24 21:57] ProGamerGov commented on #797
I had the same issue:

[code]

Running `./clean.sh` and then using: `export TORCH_NVCC_FLAGS="-D__CUDA_NO_HALF_OPERATORS__"`, before finally running `./install.sh` worked!

I was using Ubuntu 16.04.

[2017-10-24 22:00] ProGamerGov commented on #797
@csarofeen If it's better to disable the half operators, then what are they used for? Why are they included in the cuda code? And what kind of performance boost are we talking about here?

[2017-10-24 22:50] csarofeen commented on #797
Cuda 9 added half operators in the cuda half header. Half operations in torch predate that so they already existed in torch. This keeps the half definition from the cuda header, while not compiling the operators.

[2017-10-25 02:19] ProGamerGov commented on #797
@csarofeen Do you have any other performance tips for Cuda and/or cuDNN with Torch7?

Because I've noticed that Cuda 9.0 and cuDNN v7 have even worse performance than Cuda 8.0 and cuDNN v5: https://github.com/jcjohnson/neural-style/issues/429

[2017-10-28 14:15] emicol commented on #796
same error :/

[2017-10-28 14:34] emicol commented on #796
And all works after that : echo "export PATH=/usr/local/cuda-8.0/bin/:\$PATH; export LD_LIBRARY_PATH=/usr/local/cuda-8.0/lib64/:\$LD_LIBRARY_PATH; " >>~/.bashrc && source ~/.bashrc

So... replace the path for the library. #

[2017-11-09 15:00] mbcel opened #805 "How to create a new CudaTensor of type accreal in c code?"
I am implementing my own module with a cuda kernel. In the kernel I want to add up a specific value globally and so I need to pass a THCTensor of type accreal into the cuda kernel function.

Now I am wondering how I can create a new THCTensor inside the C calling function that is of type accreal instead of real?

Can I do this like this somehow?

[code]

[2017-11-13 02:46] zzzace2000 commented on #677
I also get the same thing. Anyone knows what happened?

[2017-11-15 09:09] sfzyk commented on #797
same issue. but export TORCH_NVCC_FLAGS="-D__CUDA_NO_HALF_OPERATORS__" didn't work for me?? how to solve that?

[2017-11-16 19:43] csarofeen commented on #797
@sfzyk Could you please explain all steps you took to install CUDA, NCCL, cuDNN, and pytorch and paste here some of the output from the error? It is very hard to assist the only information provided is "didn't work".

[2017-11-21 16:19] cindysillence commented on #758
how to fix this problem?

[2017-11-22 03:25] rayset opened #806 "Installation failing on Ubuntu, cuda 8 and cudnn 6"
I get the following error, which seems to be quite common with cuda 9. this is just the ending part, I see 17% installation progress as the last step it took-

It worked just fine before I had to update cudnn and install tensorflow, then it borke and had to reinstall... or at least I whish I had managed to reinstall it.

any ideas? I already reinstalled torch.
this is my bashrc ending line:

expor

[2017-11-22 14:56] rayset commented on #800
I get the same error with cuda 8 :/

did you eventually fix it?

[2017-11-22 15:01] ctzurcanu commented on #800
I gave up. Will try again in couple of months when I return to DeepL.

[2017-12-02 20:57] aisebastian commented on #790
I can confirm it is still happening on latest head

[2017-12-03 17:51] chaopengshen commented on #210
I'm getting the same error. The machine in question has an existing global torch installation. I have no root authority so I have to install luarocks packages locally. I find the code to be calling the cutorch.so in the global torch directory, instead of the local directory I installed it too.  I suspect other packages I installed has conflicts with global cutorch. I could have installed the entir

[2017-12-04 10:37] albanD commented on #210
@chaopengshen the `install-deps` script just install dependencies for torch, if torch is already installed somewhere else, these dependencies are already installed, you can skip this step and just run the `./install.sh` script.

[2017-12-05 07:56] visonpon opened #807 "luarocks install cutorch error!"
i have checked through `nvcc -V` and my cuda version is 8.0, but when i install cutorch, it still found cuda7.5.
 anyone can help?

[2017-12-05 08:33] #807 closed, assigned to nobody

[2017-12-08 01:00] niralkk opened #808 "Build Error while installing cutorch"
Hi,

I'm facing build error while installing cutorch. Can someone help?

root@deepmask-1:/home/deepmask# luarocks install cutorch
Installing https://raw.githubusercontent.com/torch/rocks/master/cutorch-scm-1.rockspec...
Using https://raw.githubusercontent.com/torch/rocks/master/cutorch-scm-1.rockspec... switching to 'build' mode
Cloning into 'cutorch'...
remote: Counting objects: 229, done.
remote

[2017-12-08 10:38] albanD commented on #808
HI,

Do you have CUDA properly installed?
If so, you may have installed it in a non standard path and you want to specify where it is with `CUDA_TOOLKIT_ROOT_DIR`.

[2017-12-08 21:27] niralkk commented on #808
Cuda is not installed on my system. I have tried installing using the command. However, it's giving me below error. can someone please help me? I want to work with deepmask and sharp mask. I heard that it works with CUDA version 7.0 or lower only..I'm not sure.

root@deepmask-1:~# nvcc --version
The program 'nvcc' is currently not installed. You can install it by typing:
apt install nvidia-cuda-to

[2017-12-08 21:29] t-li commented on #800
Seems P100 GPU does not support CUDA version < 9 while torch does not support CUDA 9. So it's definitely an issue.

Interestingly I tried PyTorch with cuda version 9 and it works...

[2017-12-11 10:58] allanj commented on #503
How to solve this problem?

[2017-12-17 13:54] yotamfr commented on #677
Me too :\ .

I tried :

`sudo rm -rf ~/.nv`

to no avail.

[2017-12-19 12:45] wuyun8210 commented on #797
Install Torch 7 in Ubuntu 16.04 cause error：
cuda 9.0: more than one operator "==" matches these operands"
One possible solution：
1、uninstall cuda9.0
ref：http://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#package-manager-additional

（1）To uninstall the CUDA Toolkit, run the uninstallation script provided in the bin directory of the toolkit. By default, it is located in /usr/local

[2017-12-22 16:56] sjain-stanford commented on #70
Thanks for supporting many of the math functions in `THC`. I'm now waiting for `histc`!

[2017-12-23 02:30] cheerss commented on #772
I also realized that cunn's convolution operation has a bad performance. You could try to use cudnn, which enhance a lot. I have ever seen that cudnn performs 10 times faster than cnn when running convolution operation. See [here](https://github.com/soumith/cudnn.torch) for details

[2018-01-01 07:52] liuxiaojun56 commented on #503
I get the same problem. Any help on how to solve this problem ?

[2018-01-10 17:03] tastyminerals opened #809 "CUDA driver version is insufficient for CUDA runtime version"
Reinstalling torch and attempting to run the model results in the following error:

[code]

`ldconfig -p | grep libcuda`
[code]
`sudo ls -lR /var/lib/nvidia-docker | grep libcuda`

[code]

[2018-01-10 17:19] tastyminerals commented on #809
This is not a Torch issue. This is NVIDIA sending its regards to all linux users: https://devtalk.nvidia.com/default/topic/1028320/cuda-driver-version-is-insufficient-for-cuda-runtime-version/?offset=6

Archlinux/Manjaro users roll back to previous version:
`sudo pacman -U /var/cache/pacman/pkg/cuda-9.0.176-4-x86_64.pkg.tar.xz`

Do not update to CUDA 9.1 just yet!

[2018-01-10 17:19] #809 closed, assigned to nobody

[2018-01-15 23:54] LarryK348 opened #810 "Unable to install/make cutorch for Torch7 on Windows"
I am unable to get cutorch installed on Windows. Both make and install result in Error: Build error: Failed building.

output:
....
[ 10%] Building NVCC (Device) object lib/THC/CMakeFiles/THC.dir/THC_generated_TH
CTensorMath2.cu.obj
THCTensorMath2.cu
c:\users\~~~~~~~\appdata\local\temp\luarocks_cutorch-scm-1-2243\cutorch\
lib\thc\THCReduce.cuh(324): error: no instance of function template "THCCeil

[2018-01-17 21:57] Amir-Arsalan commented on #797
@csarofeen I tried `export TORCH_NVCC_FLAGS="-D__CUDA_NO_HALF_OPERATORS__"` before `./install.sh` and I still cannot install Torch. The installation gets stalled at 81% while compiling the `cutorch` package. Before setting the environmental variable, the installation would crash. I have `CUDA 9.1` and `cuDNN 7.05` on a machine with `GeForce 1080Ti` GPU.

Now, I'm getting warnings like this:

[code

[2018-01-17 22:56] curator23 commented on #748
I'm having the same problem... but with cltorch, which may give some insight to the nature of the problem?

[2018-01-18 01:24] barkmeow commented on #748
@curator23 It's pretty tough to build an environment for Torch on Windows. If you insist on Torch, the best and simple solution is to change the platform into Linux.

[2018-01-18 11:41] mortezarahbar opened #811 "Error installing cutorch on Ubuntu 16.04"
Hi

I am trying to install cutorch on Ubuntu 16.04 and I have downloaded torch rocks from here:

[](https://github.com/torch/rocks)

https://github.com/torch/rocks

and now I use this command to install cutorch:

`$ CUDA_TOOLKIT_ROOT_DIR=/usr/local/cuda-8.0/ sudo luarocks install cutorch-1.0-0.rockspec `

but i get this error:

Could anybody help me on this issue please

[2018-01-19 15:36] JJanai opened #812 "cutorch.withDevice not using multiple gpus"
Running the following script for instantiating a model on multiple GPUs shows that only one GPU is in use and not the others.
[code]
As we see, only GPU1 is being used to store the model. Whereas, sequential parts of the model were defined on all 4 GPUs. Am I missing something here?

[2018-01-31 06:42] tengshaofeng commented on #677
i meet the same error , and "sudo rm -rf ~/.nv"  do not solved my error.
i find that in pytorch 0.3, everything is ok, 0.2 is appear the error.

[2018-02-01 19:48] msobroza commented on #681
I have the same problem but my cuDNN is already version 6.

[2018-02-02 11:38] saiabinesh commented on #681
Using cmake to build Caffe . CUDA 8.0 CudNN v6
nvcc fatal   : Unsupported gpu architecture 'compute_61'
CMake Error at cuda_compile_generated_adagrad_solver.cu.o.cmake:207 (message):
  Error generating
  /home/admin/caffe/caffe/build/src/caffe/CMakeFiles/cuda_compile.dir/solvers/./cuda_compile_generated_adagrad_solver.cu.o

Ubuntu 16.04
NVIDIA GTX 1080
nvidia-smi

CUDA toolkit 8.0 installed and ve

[2018-02-04 01:24] brando90 commented on #227
why is it so picky weather its Nx1 or N,?

[2018-02-05 19:08] hyiltiz opened #813 "Build with Coriander for OpenCL devices?"
@hughperkins mentioned about 9 months ago that cltorch will go adopting coriander instead of doing all the hardworking twice (1). Is there a way to compile this project and integrate with torch using coriander for OpenCL devices? I assume we simply need some minor changes to the CMake file.

(1): https://github.com/hughperkins/distro-cl/issues/28

[2018-02-09 23:49] thompa2 commented on #797
I had the same problem and it was driving me nuts.

This did not work:

`./clean.sh`
`export TORCH_NVCC_FLAGS="-D__CUDA_NO_HALF_OPERATORS__"`
`./install.sh`

This did work:

`./clean.sh`
`TORCH_NVCC_FLAGS="-D__CUDA_NO_HALF_OPERATORS__" ./install.sh`

Hope that helps.

[2018-02-13 17:26] grlscz commented on #810
Same problem.

[2018-02-13 17:35] grlscz commented on #810
This seems related: https://github.com/pytorch/pytorch/issues/2360

[2018-02-13 19:49] rajarsheem commented on #677
This issue might also happen due to some silly errors like index out of bound.
PyTorch's stack trace when the model is in cuda() is not very friendly right now.

One tip: Try the model in CPU, and you might get the real stack trace. For eg., in my case, I was having the same issue but when I put the model in CPU, the error that came out was index out of bound.

[2018-02-14 23:07] nonchip opened #814 "compile errors while installing; eventually found solution but you might want to document it"
tried to install it using the luarocks wrapper https://gist.github.com/nonchip/2c93ff2d9bc1bf2cd12bc6e76010da0f (essentially just setting the right environment for cuda etc) i get the following errors (omitting output of cmake before them):

[code]

all dependencies of torch and cutorch are installed according to their documentation.

versions that might be important:
[code]

[2018-02-14 23:19] nonchip commented on #814
a very hacky "solution" I found was modifying `/usr/include/bits/floatn.h` by inserting this after the preprocessor switch that sets `__HAVE_FLOAT128`:
[code]
but I'd rather prefer not abusing system includes to patch for what seems to be a broken usage of cuda types...

also it introduces another error occurring the same at about 10 different instances:
[code]

and I'm afraid while hacking `/usr/

[2018-02-14 23:53] nonchip commented on #814
tried with cuda 9.1, same error.
both cuda versions, when trying clang instead of gcc, fail because `The version ('50001') of the host compiler ('clang') is not supported`

[2018-02-14 23:57] nonchip commented on #814
ok, **figured it out**, a working combination of versions and ugly hacks is described at https://gist.github.com/nonchip/2c93ff2d9bc1bf2cd12bc6e76010da0f#file-cuda_and_current_compilers-md

seems to be just NVIDIA being archaic with their supported compilers; but you might want to include this somewhere in the documentation, for people using OS versions newer than 4 years :P

[2018-02-19 20:30] rraallvv commented on #425
Has anyone successfully installed cutorch on [Google Colab](https://colab.research.google.com)?

This is what I get when trying one of the options suggested in a previous post:

[code]

[2018-02-20 13:59] JrManit opened #815 "compiling error on windows: class "__half" has no member "x""
I am trying to compile cutorch on Windows using Visual Studio 2015 and CUDA 9.1, and I am struggling with the error class "__half" has no member "x", as following.

1>j:\cpp-torch\cutorch\lib\thc\THCTensorTypeUtils.cuh(141): error : class "__half" has no member "x"
1>j:\cpp-torch\cutorch\lib\thc\THCTensorTypeUtils.cuh(141): error : class "__half" has no member "x"
1>j:\cpp-torch\cutorch\lib\thc\TH

[2018-02-21 06:31] raeidsaqur commented on #489
Was this issue fixed?

I am getting the same error but at 'THCTensorCopy.c'
THCudaCheck FAIL file= .../pytorch/aten/src/THC/generic/THCTensorCopy.c line=70 error=77 : an illegal memory access was encountered.

--
torch version: 0.4.0a0+9f980b1
GPU: Titan XP
Cuda compilation tools, release 9.1, V9.1.85

[2018-02-21 19:14] tastyminerals commented on #489
@raeidsaqur see my latest post. This might be related to having fixed vocabulary size while running on the data that exceeds it.

[2018-02-26 08:00] Saturday32 commented on #681
using cmake to build caffe, CUDA 8, cuDNN V7, 1070 Ti

when i use cmake it shows cuda 7.5 even though i have cuda 8.0 installed

"
nvcc fatal   : Unsupported gpu architecture 'compute_61'
CMake Error at cuda_compile_generated_prelu_layer.cu.o.cmake:207 (message):
  Error generating
  /home/stanley/caffe/build/src/caffe/CMakeFiles/cuda_compile.dir/layers/./cuda_compile_generated_prelu_layer.cu.o

s

[2018-03-02 04:35] Linge19494492 opened #816 "this is my erro for cmake"
cmake erro at c:/cmake/shaer/cmake-3,10/modules/findcuda.camke 682
specify  CUDA_TOOLKIT_ROOT_DIR

[2018-03-02 07:14] lxtGH commented on #677
Thanks! it works for me too

[2018-03-02 20:07] jishan900 opened #817 "cutorch installation problem"
jishan@jishan-B85M-HD3:~/torch$ luarocks install cutorch
Warning: Failed searching manifest: Failed fetching manifest for https://raw.githubusercontent.com/torch/rocks/master - Failed downloading https://raw.githubusercontent.com/torch/rocks/master/manifest - /home/jishan/.cache/luarocks/https___raw.githubusercontent.com_torch_rocks_master/manifest
Warning: Failed searching manifest: Failed fetchi

[2018-03-08 13:55] mehdirostami commented on #227
I had K-class classification problem. This fixed my problem:

I first defined:

target = Variable(torch.from_numpy(t_train[:batch_size]).long(), requires_grad = False)

loss = torch.nn.CrossEntropyLoss()
Then, in the training step, I defined:
...
y_pred = mlp_instance(x_data)
l = loss(y_pred, target)
...
where y_pred is a  batch_size by K tensor but target is a tensor (simply a vector) of size bat

[2018-03-11 13:34] harsh-99 commented on #502
@soumith I have cuda 9.1 and still I am facing the same problem. Can you please suggest me something.

[2018-03-15 14:01] tastyminerals opened #818 "cublas runtime error : the GPU program failed to execute"
Just a few days ago I was able to train and run my model on GPU. After recent update I am getting the following error:

[code]

I am running Linux machine with GTX1070, **CUDA9.0** and **linux414-nvidia 1:390.25-9** package.
Identical model in Tensorflow runs just fine on GPU:
[code]

[2018-03-16 09:54] tastyminerals commented on #818
Figured it out. I have been debugging the model and inserted some `Padding` into `DataLoader` class which then I successfully forgot about :man_facepalming:

[2018-03-16 09:54] #818 closed, assigned to nobody

[2018-03-19 08:25] tinalegre commented on #815
@JrManit did you manage to solve the problem? I'm having the same issues with Ubuntu 16.04 LTS, CUDA 9.1, gcc 6.3.0. The following error messages were shown:

`[ 30%] Building NVCC (Device) object src/ATen/CMakeFiles/ATen.dir/__/THC/generated/ATen_generated_THCTensorMathReduceDouble.cu.o`
`[ 30%] Building NVCC (Device) object src/ATen/CMakeFiles/ATen.dir/__/THC/generated/ATen_generated_THCTensorMa

[2018-03-21 13:01] #740 closed

[2018-03-28 07:25] Bigwode opened #819 "RuntimeError: cuda runtime error (59) : device-side assert triggered at /pytorch/torch/lib/THC/generic/THCTensorIndex.cu:767"
When I run my pytorch code, I got an error, but I have no idea to deal with this problem . help me!!! /pytorch/torch/lib/THC/THCTensorIndex.cu:417: long calculateOffset(IndexType, LinearIndexCalcData<IndexType, Dims>) [with IndexType = unsigned int, Dims = 3U]: block: [0,0,0], thread: [8,0,0] Assertion `indexAtDim < data.baseSizes[dim]` failed.
/pytorch/torch/lib/THC/THCTensorIndex.cu:417: long ca

[2018-03-30 10:08] ytzhao commented on #337
@soumith Hi, soumith, I tried to install torch7 on v100, but met some problems. For some reasons, I have to use CUDA8.0(although for Volta, it's better to use CUDA9.0).
[code]
I think the problem is the gpu architecture auto-detect. How could I disable the auto-detection and make torch7 run correctly on my desk? Thank you.

[2018-03-30 11:31] ytzhao opened #820 "CUDA8.0 + cuDnn6.0 + GPU Volta architecture + torch7 build error"
Hi all, I tried to install torch7 on Tesla V100, but met some problems. For some reasons, I have to use CUDA8.0(although for Volta architecture, it's better to use CUDA9.0).

[code]

I think the problem is the gpu architecture dismatch cuda version. (for Volta architecture, it officially needs CUDA9.0, it also works with CUDA8.0). How could I disable the auto-detection, and manually set it to othe

[2018-04-07 20:06] atefeh-f commented on #270
Hi,
i encounter with the same error and i run command of aldben:
****
gdb luajit
GNU gdb (Ubuntu 8.0.1-0ubuntu1) 8.0.1
Copyright (C) 2017 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show w

[2018-04-07 20:10] atefeh-f commented on #271
Hi,
i encounter with the same error and i run command of aldben.( i installed torch and luajit and lua):

gdb luajit
GNU gdb (Ubuntu 8.0.1-0ubuntu1) 8.0.1
Copyright (C) 2017 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later http://gnu.org/licenses/gpl.html
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law

[2018-04-11 17:20] SultanovAR opened #821 "cuda runtime error (48) : no kernel image is available for execution on the device"
Hi, I'm new to pytorch. I took the code from this repository [https://github.com/ruotianluo/ImageCaptioning.pytorch](url) and wanted to make captions to the images. Installed "CUDA" and when I run the script to create the annotations produces this:

[code]
So, I want to find out what this error is, hardware or software. And how can I solve this problem. Thanks.

ubuntu             16.04
cuda

[2018-04-13 05:11] pedrogarciafreitas commented on #821
GeForce 820M has capability 2.1 and it is not supported anymore by PyTorch.
BTW, I am using a GeForce 770M with capability 3.0 and I have the same problem. I tried to use CUDA 9.1 and 8.0, unsuccessfully.

[2018-04-14 03:52] Juicechen95 opened #822 "have problem to run on GPU. CUDA8.0+cudnn5+4 * 1080ti GPU"
My torch code always running on the CPU, not on the GPU.
In my code, I have put my model and tensor on cuda using ':cuda()' and use 'cutorch.setDevice(GPU_num)'.
when I run in the terminal, I add 'CUDA_VISIBLE_DEVICES=1' before th command.
But my code still fails to run on the GPU well. It uses up all the CPU kernels and GPU-Util is always 0.
During the training time, each epoch sometimes takes 0.

[2018-04-19 05:00] purin0604 commented on #708
I have the similar error with train.py from https://github.com/hughperkins/cifar.pytorch

THCudaCheck FAIL file=/tmp/luarocks_cunn-scm-1-9412/cunn/lib/THCUNN/generic/ClassNLLCriterion.cu line=87 error=59 : device-side assert triggered
$ Error: cuda runtime error (59) : device-side assert triggered at /tmp/luarocks_cunn-scm-1-9412/cunn/lib/THCUNN/generic/ClassNLLCriterion.cu:87

Running with CUDA_L

[2018-04-20 16:27] brando90 commented on #708
Wait what is going on? What does error mean?

[2018-04-20 20:50] dufferzafar commented on #425
@rraallvv Did you find a solution to this problem? I'm trying build XGBoost with GPU support on Google Colab, but am stuck at this CUDA_TOOLKIT_ROOT_DIR error.

[2018-04-20 23:21] rraallvv commented on #425
@dufferzafar there is a notebook [here](https://drive.google.com/file/d/14OyDrmxzBmkJ8H51iodPE2aXHzCduKJP/view?usp=sharing) that might be of some help, the related discussion is [here](https://github.com/NVIDIA/FastPhotoStyle/issues/22#event-1492603486). Cheers!

[2018-04-22 14:57] wanghechong opened #823 "multiGPU"
i want to train the encoder-decoder model on two gpu , and i have tried to understand  https://github.com/harvardnlp/seq2seq-attn, but i do not very know it clearly, i always make mistakes, so if who knows the detailed logic relation, i want to discuss with you, thank you, i need your help

[2018-04-23 17:07] Spandan-Madan opened #824 "cutorch does not load"
I have tried deleting and installing torch, cutorch, cunn multiple times. However, I am just not able to make require 'cutorch' work.

**I removed cutorch using:**
luarocks remove cutorch --force

**And then re-installed using:**
luarocks install cutorch

**At the end of installation I get:**
cutorch scm-1 is now built and installed in /afs/csail.mit.edu/u/s/smadan/torch/install/ (license: BSD)

B

[2018-04-27 03:28] wanghechong opened #825 "cutorch.withDevice()"
i initialize the  {encoder, decoder} on CPU, but i share the lookupTable's parameters between them, then i do encoder:cuda() on GPU1, i clone the decoder on GPU2  to decoder_clone， i get the decoder's parameters again, and i clone the pararmeters to decoder_clone on GPU2, but when i run the code, the error is lookuptable's parameters on different GPUS。

[2018-04-28 06:23] raftx24 commented on #815
i'm having the same issue! how to solve it!?

[2018-04-28 08:31] nagadomi commented on #815
Probably the same issue as #797

[2018-04-28 16:01] raftx24 commented on #435
same issue!

[2018-05-03 12:33] shubhvachher commented on #503
I'm new to torch but the way I got this working is
[code]
Then plugging the output from above into `cutorch.setDevice` in the code that isn't working. More experienced torch devs could point out if there is a better way

[2018-05-03 23:57] brando90 commented on #435
someone know how to solve this for pytorch?

[2018-05-05 21:59] ghost commented on #819
I'm facing the same issue! Anybody figured it out?

[2018-05-14 12:34] hzxie commented on #797
@thompa2
It works like a charm

[2018-05-17 21:05] CharAznableLoNZ opened #826 "Cuda 9.2 support?"
Freshly installed torch and built cutorch on a machine running cuda 9.2.  Everything built correctly however when I tried to utilize it, it appears 9.2 is not recognized. Any information I can provide I'd be more than happy to.

user@Nagisa:~/waifu2x$ th web.lua
THCudaCheck FAIL file=/home/user/torch/extra/cutorch/lib/THC/THCGeneral.c line=70 error=35 : CUDA driver version is insufficient for CUDA

[2018-05-18 02:05] zerchen opened #827 "Segmentation fault (core dumped) when I run 'cutorch.synchronizeAll()'"
The environment is ubuntu16.04, CUDA 8, cudnn 6,  GPU is Nvidia Tesla P100
I run the torch in nvidia docker container. However, when I run 'require cudnn ‘ or  'cutorch.synchronizeAll()'
, it returns 'Segmentation fault (core dumped)'
I analyze it with the help of gdb and the output is:

th> require 'cutorch'
[New Thread 0x7ffe4c232700 (LWP 160)]
th> cutorch.synchronizeAll()
[New Thread 0x7ffe4823

[2018-05-18 02:08] ROC-Zerui commented on #827
The problem really drives me nuts. Thank you in advance.

[2018-05-18 06:42] #827 closed, assigned to nobody

[2018-05-20 02:53] Jeffalltogether commented on #428
I am having the same issue.  I can successfully install caffe2, but pytorch consistently finds the older version of cuda on my system ahead of the correct version.  @johnPertoft could you explain how you bypassed, " the part where CMAKE tries to find CUDA"?

[2018-05-20 09:44] CharAznableLoNZ commented on #826
A friendly bump since it's been three days.

[2018-05-24 21:14] CharAznableLoNZ commented on #826
Anyone?

[2018-05-25 08:39] ricpruss commented on #797
With 9.2 you need.

export TORCH_NVCC_FLAGS="-D__CUDA_NO_HALF2_OPERATORS__"

[2018-05-31 02:46] Amir-Arsalan commented on #797
@ricpruss I did `export TORCH_NVCC_FLAGS="-D__CUDA_NO_HALF2_OPERATORS__"` but cannot build Torch still with CUDA 9.2 and cudnn 7.x.x . Any ideas?

[2018-05-31 05:11] ricpruss commented on #797
You still getting the errors on operator overload?
Did you run clean.sh after the change?
@Amir-Arsalan

[2018-05-31 08:50] CharAznableLoNZ commented on #826
It's been two weeks now, is this project dead?

[2018-05-31 09:34] maximiliangoettgens commented on #797
Same here with cuda 9.0 and cudnn 7. ``export TORCH_NVCC_FLAGS="-D__CUDA_NO_HALF_OPERATORS__"`` does solve the operator issue, but I am still getting these erros for the __half class:
[code]

[2018-05-31 13:18] Amir-Arsalan commented on #797
@ricpruss I get these errors:

[code]

[2018-06-01 06:15] Tharun98 opened #828 "cutorch installation error"
Hii,

I am getting this error while installing torch. Please help me get through this.

Found CUDA on your machine. Installing CUDA packages
Warning: unmatched variable LUALIB

jopts=$(getconf _NPROCESSORS_CONF)

echo "Building on $jopts cores"
cmake -E make_directory build && cd build && cmake .. -DLUALIB= -DLUA_INCDIR=/home/tdubba/torch/install/include -DCMAKE_CXX_FLAGS=${CMAKE_CXX_FLAGS} -DCMAK

[2018-06-01 14:03] maximiliangoettgens commented on #815
I am having this error too, did anybody solve it yet?
@nagadomi I posted this error into issue #797 as well but it seems to be something different since the proposed solutions do not work for me. Maybe anybody else has found a fix for this in the meantime?

[2018-06-21 16:10] fredlemieux commented on #797
@thompa2 AMAZING! Thank you! After hours of searching for a solution this worked. (well I'm at 20% now which is more than I've been able to get to until now) What a pain!

[2018-06-21 16:19] fredlemieux commented on #797
I lie, failed again........ but this time at 20% . That's progress isn't it? I'm not sure, I'm thinking for giving up.

I've got MacBook Pro (13-inch, 2017)

This is the error message at 20%:

                ^
9 warnings generated.
[ 20%] Building NVCC (Device) object lib/THC/CMakeFiles/THC.dir/THC_generated_THCTensorRandom.cu.o
/Users/fredlemieux/torch/extra/cutorch/lib/THC/THCTensorRandom.cuh(1

[2018-06-27 02:06] bragilee commented on #681
Hi, is there any suggestions for this problem?

I mean how to specify the cuda version during installation of torch. Because we have both cuda7.5 and cuda 8.0 and we cannot just remove cuda 7.5.

Thank you so much.

[2018-07-01 03:31] helloall1900 commented on #797
Same error here
OSX 10.13.5, Cuda 9.1, cudnn 7

[2018-07-01 06:08] helloall1900 commented on #828
same error with cuda 9.1

[2018-07-06 10:15] muskan1998 opened #829 "th main.lua --help error"
I have installed torch and have been following the steps of this link: https://github.com/chsasank/plantvillage-challenge
As I reached the step **th main.lua --help** I got an error:
"th main.lua --help
/home/muskanbansal98/torch/install/bin/luajit: main.lua:1: attempt to index global 'QuestHelper_File' (a nil value)
stack traceback:
	main.lua:1: in main chunk
	[C]: in function 'dofile'
	...al98/t

[2018-07-06 10:34] yxchng commented on #708
@richardassar so my target tensor cannot have 0? must start from 1?

[2018-07-06 10:35] #829 closed, assigned to nobody

[2018-07-06 11:28] richardassar commented on #708
Lua uses 1-based indexing.

And also the documentation says:

"This criterion expects a class index (1 to the number of class) as target when
calling forward(input, target)
<https://github.com/torch/nn/blob/master/doc/criterion.md#nn.CriterionForward>
and backward(input, target)
<https://github.com/torch/nn/blob/master/doc/criterion.md#nn.CriterionBackward>
."

Please read the documentation.

On F

[2018-07-06 16:37] yxchng commented on #708
@richardassar ok thanks

[2018-07-09 11:10] shimen opened #830 "memory release"
I have a huge difference in the available GPU memory.

- When using the command: **nvidia smi**
|   2  Tesla V100-SXM2...  On   | 00000000:0A:00.0 Off |                    0 |
| N/A   43C    P0    70W / 300W |  **16101MiB** / 16160MiB |      0%      Default |

- When using the cutorch command: **cutorch.getMemoryUsage(cutorch.getDevice())**
Epoch: [1][2/5] Time 0.724      tripErr 7.65e-02
--------

[2018-07-23 15:37] seindlut commented on #153
I agree with @liamquin . My solution is that using the following command:
export PATH=/usr/local/cuda-8.0/bin/:$PATH
Please make sure that "nvcc" works after you type this command.

[2018-07-26 01:49] rfejgin commented on #398
I've seen this with PyTorch 0.4 as well. A index whose probability is exactly zero got selected. Trying to create a reproducible test case, though it's been hard to reproduce so far. I do have the PDF that caused this.

Interestingly in my case it the zero-probability index that was index zero (even though there were many other indices which had zero probability). Seems a bit suspicious that index

[2018-07-26 13:29] stancil1 commented on #820
I am having this exact issue. Is there any fix you have found for this yet?

[2018-07-29 12:25] NicholasMindieta commented on #826
@anonymau5 Did you make it work? Or did you move to CUDA 9.1?

[2018-07-31 07:21] ytzhao commented on #820
@stancil1 Hi, I change the CUDA version to 9.0, it somehow works.

[2018-08-10 11:10] ghost commented on #828
I meet it.

[2018-08-13 17:56] cag472 commented on #749
I got the same problem installing Torch on Cuda 9.0 and 9.2. Solved it with:

    export TORCH_NVCC_FLAGS="-D__CUDA_NO_HALF_OPERATORS__"

before running ```./install.sh```, as suggested in #797 .

[2018-08-25 03:55] jsankovitch opened #832 "Getting "cublasSgetrsBatched" is undefined on compile"
Getting the following errors when trying to compile (luarocks install cutorch).  I'm trying to get everything running on an Nvidia TK1 using [this guide](https://www.jetsonhacks.com/2015/05/20/torch-7-scientific-computer-framework-with-cudnn-nvidia-jetson-tk1).  I'm on CUDA 6.5 as that's the latest this hardware can support.  Thanks in advance.

  | [  4%] Building NVCC (Device) object lib/THC/CMa

[2018-08-25 04:11] #832 closed, assigned to nobody

[2018-08-31 19:34] ghltshubh commented on #428
cuda-8.0.6 seems to be missing bin directory for some reason.

[2018-09-12 14:08] dmorris0 commented on #227
Mehdirostami,

Can you explain how your code converts one-hot to index values -- assuming it does this?

Thanks

[2018-09-13 01:34] mehdirostami commented on #227
One way is this:

http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html

You can also write your own code:. For example:
Let t be target with K categories: 0, 1, ..., K-1

list_t = [(t == k).reshape(-1, 1) for k in range(K)]
one_hot_t = np.concatenate(list_t, axis=1)+0)

[2018-09-13 13:54] uoyevoli commented on #677
Thanks! it also works for me !

[2018-09-13 14:00] fmassa commented on #227
this is btw in the wrong repo (this is Lua-Torch), but an even simpler way of converting one-hot to index is as follows:
[code]

[2018-09-30 23:05] AlvaroN1997 opened #833 "install problem"
The terminal shows me this

CMake Error at /usr/share/cmake-3.10/Modules/FindCUDA.cmake:682 (message):
  Specify CUDA_TOOLKIT_ROOT_DIR
Call Stack (most recent call first):
  CMakeLists.txt:7 (FIND_PACKAGE)

Error: Build error: Failed building.

I dont know how to fix this :c

[2018-10-01 02:14] AlvaroN1997 commented on #479
How you fix it? can you tell please? :(

[2018-10-01 07:12] eigengrau opened #834 "Fails to build against CUDA 10"
When building HEAD against CUDA 10.0.130, the build fails with:

[code]

[2018-10-04 05:05] ericliyanghui opened #835 "I fixed some bugs for cuda 10"
Hey,developers.

Recently I am installing Torch 7, and cunn, cutorch. When installing cutorch, I faced some "function overload" problems. Then I fixed them.

If you are still maintaining it, how can i upload it?

[2018-10-10 01:43] lin60102 commented on #835
I was wondering if you can tell me how to fix it. Or where to find your fixed version.

[2018-10-10 03:06] ericliyanghui commented on #835
sorry, though I fixed cutorch with manually cmake and make method. But when I installed the cunn with luarocks, it cannot find the cutorch dependency even though I put the libcutorch.so in the torch's lib directory.

Finally I  installed successfully with cuda9.0. So I strongly advised you to use cuda9.0 so that you could install cutorch and cunn successfully.

As for the revised code for cutorch,

[2018-10-10 22:44] granzuglia commented on #834
I have exactly the same issue.

[2018-10-10 23:33] nagadomi commented on #834
**EDIT: I have merged these changes to my distro repo.** https://github.com/nagadomi/distro

Building Torch with CUDA10 has two problems.

1. [cmake/3.6/Modules/FindCUDA.cmake](https://github.com/torch/distro/tree/master/cmake/3.6/Modules) is outdated.
2. ` atomicAdd(__half *address, __half val)` is defined in `/usr/local/cuda/include/cuda_fp16.h` (duplicated).

### How to build Torch with CUDA10

[2018-10-12 01:09] TigerWj commented on #828
do you solved it?

[2018-10-12 05:00] WhiskyChoy commented on #834
@nagadomi Yeah, it really works! Thanks a lot. I learnt elsewhere that a newer version of cmake is needed so I installed one. However I didn't remove the FindCUDA.cmake the torch package contained. Now it works well, after I finished the steps you recommended.

[2018-10-12 08:27] Archit01 commented on #834
Thanks

[2018-10-19 07:58] HZRun commented on #834
@nagadomi  It works following your steps. Thank you

[2018-10-24 09:35] PhilipDro commented on #834
@nagadomi Thanks a lot that helped with my issue. It seems though, that removing FindCUDA will cause problems when trying to install cuDDN.

[2018-10-24 10:48] nagadomi commented on #834
@PhilipDro
The master branch of cuDNN.torch does not support cuDNN v7. Installing from `R7` branch probably works fine.
[code]

[2018-10-25 13:08] guanxiongsun commented on #479
I met this problem too, but I didn't use MAGMA. I think it's something wrong with your CUDA.
The libcutorch.so is a lib which point to your CUDNN.
The reason is that I installed CUDA 9.0 few days after I installed torch which I installed with another version of CUDA.
Then I modified the symbol link to the old CUDA.
Then I solved this problem.

[2018-10-25 19:51] PhilipDro commented on #834
@nagadomi Thank you for your response.
Your suggested workaround does not work unfortunately.
I get following error:

`CMake Error at /home/philip/torch/install/share/cmake/torch/FindCUDA.cmake:617 (message):
  Specify CUDA_TOOLKIT_ROOT_DIR
Call Stack (most recent call first):
  CMakeLists.txt:14 (FIND_PACKAGE)

-- Configuring incomplete, errors occurred!
See also "/home/philip/cudnn.torch/build/C

[2018-10-26 12:42] Anupama94 commented on #834
Try changing the gcc version to gcc-6. Worked for me!

[2018-10-27 06:31] BananaNeil commented on #832
I'm also having this issue.

[2018-10-29 10:06] Cdfghglz commented on #834
I also could not make it work until I did not kick out these lines:
[code]
After this it just used the newest cmake (3.13 for me) and did not complain any more.

[2018-11-05 06:25] Yonv1943 commented on #797
It works on Ubuntu 18.04 too.

[2018-11-07 16:50] JohnHammell commented on #834
Thank you @nagadomi ! Your instructions above were very helpful in getting Torch7 installed and running with CUDA 10 & cuDNN 7.3 on Ubuntu 18.04 LTS

[2018-11-12 02:17] rahilwazir commented on #834
@nagadomi I'm trying to install it via `luarocks install cutorch` but your workaround didn't work for me. Please help me with this

[code]

Using the newer CMake with the applied patch

[code]

[2018-11-12 03:11] kyang-06 commented on #834
have the same issue with you

[2018-11-12 06:14] nagadomi commented on #834
`luarocks install cutorch` command downloads cutorch from git repo and installs it, so the patch will not be applied. To install modified cutorch from local disk, use the following command in cutorch dir.
[code]

[2018-11-12 06:21] kyang-06 commented on #834
Great! It works. Thank you so much

[2018-11-12 15:37] Amir-Arsalan commented on #797
@ricpruss I know this has been a while but for some reason I need to compile Torch with CUDA 9.2. I remember I tried `export TORCH_NVCC_FLAGS="-D__CUDA_NO_HALF2_OPERATORS__"` and I could not compile Torch. I just added both `-D__CUDA_NO_HALF2_OPERATORS__` and `-D__CUDA_NO_HALF_OPERATORS__` to `TORCH_NVCC_FLAGS` and could compile Torch with CUDA 9.2 but when I do `require 'cutorch'` I get the follo

[2018-11-16 15:20] leilamr commented on #479
How did you do it?

[2018-11-18 11:25] doneforaiur opened #836 "Installing cutorch with CUDA 10.0"
`$luarocks install cutorch `gives:
[code]

`$nvidia-smi `gives;

[code]

Updating torch didn't solve the problem.

[2018-11-18 18:07] doneforaiur commented on #834
[code]
[code]

@nagadomi I'm still having this issue. ;-;

[2018-11-18 18:33] nagadomi commented on #834
@doneforaiur
Try the following command before `luarocks make..`
[code]

[2018-11-20 21:36] positlabs commented on #508
I'm still getting this error when installing via https://github.com/torch/distro.git

Should I pull from that commit hash instead?

[2018-11-25 14:27] ghost commented on #836
Exactly the same issue with you. I tried

+ remove old CMake, and get CMake 13.0 from their websit, but still didn't solve the problem
+ remove CUDA 10.0, go back to CUDA 9.0, it works!! (remember to remove all packages, update sourcelist, repair PATH, etc)

And, here is a new solution for ![cutorch+CUDA 10](https://github.com/torch/cutorch/issues/834). Hope it works! Last and last, after all set

[2018-11-26 20:20] chakpongchung commented on #835
@all

check this one https://github.com/torch/cutorch/issues/834

[2018-12-01 10:30] lh14576 commented on #834
@nagadomi Thank you! This just saved my day! Was just about to return my RTX2070

[2018-12-08 10:10] fiandro commented on #834
Thanks to @nagadomi for the help, I could successfully build luatorch against cuda 10 and cudnn7 on Ubuntu 16.04, RTX2080. I canonly add that it is not necessary to unistall the system-wide cmake, it is sufficient to build it from the sources on some user directory such as /home/user/myrepos/and then do
export PATH="/home/user/myrepos/CMake/bin:${PATH}"
before building luatorch.

[2018-12-08 10:42] nagadomi commented on #834
@fiandro
I merged changes for CUDA10 into a personal `distro` repo yesterday.
It was not really necessary to install newest CMake, but a few lines of patches for `cmake/3.6/Modules/FindCUDA.cmake`.
diff: https://github.com/nagadomi/distro/commit/946affd92c5818e880e414c915ce23e003b9aa9d#diff-9ea7fc52fa0c8de646449b3b8cda3ac9

Related to https://github.com/nagadomi/waifu2x/issues/253#issuecomment-445

[2018-12-08 15:22] AlekzNet commented on #834
Does it work with gcc-8?

[2018-12-08 15:27] AlekzNet commented on #834
Compilation fails with the following errors:

<pre>
luarocks make rocks/cutorch-scm-1.rockspec                                                                                                     Warning: unmatched variable LUALIB

jopts=$(getconf _NPROCESSORS_CONF)

echo "Building on $jopts cores"
cmake -E make_directory build && cd build && cmake .. -DLUALIB= -DLUA_INCDIR=/home/alekz/torch/instal

[2018-12-08 16:58] nagadomi commented on #834
@AlekzNet
gcc versions later than 7 are not supported on CUDA10.
[ax3l/CUDA_Compilers.md](https://gist.github.com/ax3l/9489132)

[2018-12-08 17:56] AlekzNet commented on #834
Mmm... I'm getting the same error with gcc-7.

[2018-12-08 18:52] nagadomi commented on #834
Perhaps you need to delete CMakeCache.txt.
[code]

[2018-12-09 00:08] AlekzNet commented on #834
Yes! This is it! I thought I cleaned everything, but obviously not. Thanks much @nagadomi !

[2018-12-27 16:22] fiandro commented on #834
Thanks a lot to @nagadomi  for the updated repo: Since I had to write a complete howto to installing Torch on Ubuntu 16.04 on RTX equipped machines, I tought to share it with you:

**** Installing (Lua)Torch on Ubuntu 16.04.5 LTS (Updated as 27/12/2018)

This is a tutorial to installing Torch on Ubuntu 16.04 for use with the new NVIDIA RTX20x0 GPUs (older GPUs such as GTX10x0 shall be supported as

[2018-12-28 05:04] leoniescape commented on #834
It also works for me when I downgraded to gcc-6.5.
Previously I was uisng gcc7 , I tried `luarocks make cudnn-scm-1.rockspec`, but cudnn can't be found when running torch.
Now it works when I use gcc6.

[2019-01-09 10:28] nicholaswhf opened #837 "execute `luarocks install cutorch`"
Installing https://raw.githubusercontent.com/torch/rocks/master/cutorch-scm-1.rockspec...
Using https://raw.githubusercontent.com/torch/rocks/master/cutorch-scm-1.rockspec... switching to 'build' mode
正克隆到 'cutorch'...
remote: Enumerating objects: 229, done.
remote: Counting objects: 100% (229/229), done.
remote: Compressing objects: 100% (184/184), done.
remote: Total 229 (delta 62), reused 90 (d

[2019-01-09 10:34] nicholaswhf commented on #811
did u solved ?

[2019-01-19 16:54] jitsuCM commented on #810
Identical issue, nvcc on windows x64.

[2019-01-23 13:00] TjebbeVQ commented on #837
Got same error - fixed by installing nvidia-cuda-toolkit

[2019-01-26 18:15] jinyiabc commented on #800
Downgrade cuda from 10.0, 9.0 and finally success under 8.0.

[2019-01-31 03:17] xiaoshuliu commented on #834
I have the same error, and adding the FLAG does not work ...

[2019-01-31 03:30] ajhool commented on #820
I'm finding that the torch.cudnn package is not properly initializing the Volta GPUs (it takes about 10 minutes to configure the GPUs -- it should be nearly instantaneous). Were you able to configure GPUs properly using cutorch?

This is the code that cudnn is having trouble with:

https://github.com/soumith/cudnn.torch/blob/R7/init.lua

[2019-01-31 03:56] xiaoshuliu commented on #834
@nagadomi I successfully installed everything, but it cannot pass all the tests in test.sh.

[2019-01-31 09:16] nagadomi commented on #834
@xiaoshuliu
PReLU's test error is a known issue. I just ignore it because I do not use PReLU. I think it's just an issue with the test suite.
https://github.com/torch/torch7/issues/1104
https://github.com/torch/cunn/issues/474
https://github.com/torch/distro/issues/225

[2019-01-31 17:47] xiaoshuliu commented on #834
@nagadomi Thank you! I have three ERRORs in PReLu (forward, back) and multinomial_alias, and a FAIL in VolumetricFullConvolution_pair_test. Do you know which package "VolumetricFullConvolution_pair_test" belongs to, and does it matter much?

multinomial_alias
 Function call failed
/home/xiaoshul/torch/install/share/lua/5.1/torch/Tensor.lua:462: bad argument #1 to 'set' (expecting number or Tensor

[2019-02-06 05:42] #497 closed

[2019-02-12 20:16] soulslicer commented on #532
How do you do this for Magma 2.3?

[2019-03-03 08:34] y9052541 commented on #681
same problem with my cudnn as version v7 :<

[2019-03-03 09:11] y9052541 commented on #681
Problem solved
by add the last line '-gencode=arch=compute_52,code=compute_52' in CUDA_ARCH setting.

CUDA_ARCH="-gencode arch=compute_30,code=sm_30 \
           -gencode arch=compute_35,code=sm_35 \
           -gencode arch=compute_50,code=sm_50 \
           -gencode arch=compute_52,code=sm_52 \
           -gencode=arch=compute_52,code=compute_52"

[2019-03-07 12:37] gravitychen commented on #681
can you tell me where is the CUDA_ARCH setting

[2019-03-14 14:00] Malhabib opened #838 "out of memory"
THCudaCheck FAIL file=/tmp/luarocks_cutorch-scm-1-5292/cutorch/lib/THC/generic/THCStorage.cu line=66 error=2 : out of memory
/home/alhabib/torch/install/bin/lua: ./densecap/optim_updates.lua:69: cuda runtime error (2) : out of memory at /tmp/luarocks_cutorch-scm-1-5292/cutorch/lib/THC/generic/THCStorage.cu:66
stack traceback:
	[C]: in function 'new'
	./densecap/optim_updates.lua:69: in function 'a

[2019-04-11 03:11] BenjaminLAZARD commented on #428
@Jeffalltogether I believe you have to edit `.../torch/install/share/cmake/torch/FindCUDA/run_nvcc.cmake` and change the path for nvcc (replace the variable which starts by @ by the path towards your cuda9.0 nvcc).
Installation worked for me after this, although I am I am not 100% sure this is the reason why

[2019-04-25 02:31] Mikeraka commented on #740
@mtobeiyf Hello, I have run into the same problem, Could you please give me a help? how you solved it? Thank you very much

[2019-04-25 04:39] imfing commented on #740
@Mikeraka I cannot clearly remember.
Perhaps just follow the answer above. Require 'cutorch' rather than the shared library 'libcutorch'.

[2019-04-30 11:11] chenqiuyuan opened #839 "Issues in building when run ./install.sh"
Building on 12 cores
-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-- Check for working CXX compiler: /usr/bi

[2019-05-10 06:48] Ruminum opened #840 "Failed to install torch error csrot.o"
cc -O2 -DMAX_STACK_ALLOC=2048 -fopenmp -Wall -m64 -DF_INTERFACE_GFORT -fPIC -DSMP_SERVER -DUSE_OPENMP -DNO_WARMUP -DMAX_CPU_NUMBER=8 -DMAX_PARALLEL_NUMBER=1 -DVERSION=\"0.3.7.dev\" -DASMNAME=cblas_cdotc -DASMFNAME=cblas_cdotc_ -DNAME=cblas_cdotc_ -DCNAME=cblas_cdotc -DCHAR_NAME=\"cblas_cdotc_\" -DCHAR_CNAME=\"cblas_cdotc\" -DNO_AFFINITY -I.. -I. -UDOUBLE  -DCOMPLEX -DCBLAS -c -DCONJ zdot.c -o cbla

[2019-05-13 05:31] elgalu commented on #100
I'm facing this issue, what's the solution this days? (3 years later :)

[2019-05-20 18:42] varunagrawal commented on #479
For future reference, this issue seems to pop up if you update CUDA without updating torch. `libcutorch` will still point to the old CUDA version and thus loading the .so file fails.

What you need to do is go to `/usr/local/cuda/lib64` and ensure that the symlink `libcudart.so` is pointing to the right version. In my case, I am using CUDA 10, so running `ls -al libcudart.so` should give `libcudar

[2019-05-22 07:44] tjusxh commented on #797
I get the same issue on Windows10, pytorch1.1.0, vs 2017 with version 15.4 toolset. Anyone have the good method?

E:/Program Files/Python35/lib/site-packages/torch/include\THC/THCNumerics.cuh(190): error: more than one operator "<" matches these operands:
            built-in operator "arithmetic < arithmetic"
            function "operator<(const __half &, const __half &)"
            operand typ

[2019-05-24 09:54] joseabin commented on #337
Hi @ytzhao  did you find a solution for this problem ? I also have to compile in V100 GPUs with cuda-8.0 . But it fails with the error compute_70  nvcc fatal   : Unsupported gpu architecture 'compute_70'. Basically the architecture issue. Did you manage to get cutorch installed successfully ?

[2019-06-06 11:50] QROST commented on #834
I encountered an error `The imported target “Qt5::Gui” references the file “/usr/lib/x86_64-linux-gnu/libEGL.so” but this file does not exist.` while building and installing the new CMake.

I found the solution in the link below.
https://askubuntu.com/questions/616065/the-imported-target-qt5gui-references-the-file-usr-lib-x86-64-linux-gnu-li

[2019-06-09 20:53] NiklasVJM commented on #834
I've been trying to install "luarocks install cutorch", but it keeps failing at the same spot:

/home/testbench/Downloads/cutorch-master/lib/THC/THCAtomics.cuh(97): error: cannot overload functions distinguished by return type alone

1 error detected in the compilation of "/tmp/tmpxft_0000737e_00000000-4_THCTensorScatterGather.cpp4.ii".
CMake Error at THC_generated_THCTensorScatterGather.cu.o.Rele

[2019-06-10 13:28] windskyl commented on #797
l got same error on ubuntu 18.04 cudnn 10.1 cuda 7.5
tried all methods above and no process
but the command below helps me to run th successfully
 luarocks install cutorch.
without any "export ..."

[2019-06-13 18:03] chzhan commented on #797
@tjusxh Me too. Have you solved it?

[2019-06-19 01:45] taochen526 commented on #677
But I train my model using windows, what should I do?

[2019-06-24 13:01] raniaoueslati commented on #801
@borismu  how can i know if CUDA 9 toolkit doesn't support my GPU architecture or it does plz ? (commands)

[2019-07-12 10:28] generated commented on #834
sorry for this question,
`patch -p1 < atomic.patch`
outputs:

any help appreciated

[2019-07-12 11:23] nagadomi commented on #834
@generated
The error is probably due to the wrong working directory (should run on ~/torch/extra/cutorch).
I recommend that you simply install torch from my repo.
[code]

[2019-07-23 02:09] HaoDing123 commented on #834
Hello,everyone! when I install cutorch,I meet some error. I have installed torch7+cuda10.0+cudnn7.4.1 in ubuntu16.04 with RTX2080( Driver Version: 410.78 )
I tried the command :
dh@dh-MS-7B98:~/torch/extra/cutorch$ export TORCH_NVCC_FLAGS="-D__CUDA_NO_HALF_OPERATORS__"
dh@dh-MS-7B98:~/torch/extra/cutorch$ luarocks make rocks/cutorch-scm-1.rockspecWarning: unmatched variable LUALIB

jopts=$(getconf

[2019-07-29 09:07] zhengqibin commented on #834
first you should change the directory by:
cd extra/cutorch

[2019-08-04 15:34] granthoff1107 commented on #834
@nagadomi  I've installed torch using your repo, but I'm still getting those errors when trying to  luarocks install cutorch

[2019-09-20 12:26] edrdos101 opened #841 "require cudnn - segmentation fault"
I get a Segmentation Fault error when running `require 'cudnn'`

There is no reason when doing the same for torch, cudnn or cutorch

My environment is:
GPU: Tesla K80
CUDA: 9.2
Lua: 5.2.3

[2019-10-08 04:14] WHQCHINA commented on #841
@edrdos101 hi, are you solve the issue?

[2019-10-11 08:26] shen1994 opened #842 "The equal function for THCudaBlas_Sgemm in Aten"
What is the equal function for THCudaBlas_Sgemm in Aten??? May Someone tell me???Thanks~~~

THCudaBlas_Sgemm(state, ‘n’, ‘n’, n, m, k, 1.0f,
THCudaTensor_data(state, columns), n,
THCudaTensor_data(state, weight), k, 1.0f,
THCudaTensor_data(state, output_n), n);

[2019-10-28 08:57] blednotik opened #843 ""CUDA error: device-side assert triggered" when I call torch.cude.empty_cache()"
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-15-4865391c1560> in <module>
      2
      3 if cuda_flag:
----> 4     torch.cuda.empty_cache()
      5
      6 batch_size = 40

~\AppData\Local\Continuum\anaconda3\lib\site-packages\torch\cuda\__init__.py in empty_cache()
    424

[2019-10-31 11:40] AlexHex7 commented on #834
@nagadomi I don't know what does this step means (Apply the following patch to cutorch).What's the a/ and b/?

[2019-11-04 18:49] mrgloom commented on #836
[code]

[2019-11-05 10:53] vandesa003 commented on #842
Hi @shen1994 do you fix that problem? I'm facing the same problem. What is the THCudaTensor_data corresponding function in ATen?

[2019-12-19 11:17] RuABraun commented on #677
Also have this issue, none of the suggestions work, runs fine on CPU.

[2019-12-22 17:12] ez4lionky commented on #824
Oops, I met the same problem, did you solve the problem?
The same CUDA version - 8.0.

[2019-12-30 11:41] YashasSamaga commented on #797
@csarofeen you earlier said that the performance will improve for the better by disabling the CUDA builtin operators. Can you explain how?

[2020-01-18 20:09] rehanpunjwani commented on #834
I have done all the steps as above but when I rull install.sh
I get the following error:

make[1]: *** [CMakeFiles/Makefile2:212: exe/luajit-rocks/luajit-2.1/CMakeFiles/luajit-static.dir/all] Error 2
make: *** [Makefile:130: all] Error 2
./install.sh: line 107: /home/pi/torch/install/bin/luarocks: No such file or directory
Installing common Lua packages
./install.sh: line 111: /home/pi/torch/insta

[2020-02-10 19:00] Yijunmaverick commented on #834
Many thanks with the guidance and I made it work with cuda 10. I have a question about how to install new packages (e.g., `matio`). It looks `luarocks install XXX` does not work, as you mentioned on installing `cutorch`.

[2020-02-11 04:22] nagadomi commented on #834
@Yijunmaverick
works for me.
[code]
test
[code]
I've heard that GFW blocks URLs about luarocks.
If `git clone` can run normally, you can install it from local file.
[code]
rockspec index: https://github.com/torch/rocks

With `libmatio4` env(Ubuntu 19.10), Reading string variable from mat file seems to fail (numeric variable  is OK).

[2020-02-15 10:37] Wyntor commented on #551
Could you please tell me how to solve it? I am facing the same problem...

[2020-02-22 15:26] sohamirian commented on #660
I have this error on Ubuntu 1.18 and need your help:

/usr/bin/luajit: /usr/share/lua/5.1/trepl/init.lua:389: /usr/local/share/lua/5.1/hdf5/ffi.lua:62: Error: unable to parse HDF5 header file at /usr/include/hdf5/serial/hdf5.h
stack traceback:
	[C]: in function 'error'
	/usr/share/lua/5.1/trepl/init.lua:389: in function 'require'
	extract_features.lua:4: in main chunk
	[C]: in function 'dofile'
	/

[2020-02-27 09:38] SonicCodes commented on #425
Try this. it might help.
#for Torch with Lua 5.3:
import os
os.environ['LUA_PATH'] = '/root/.luarocks/share/lua/5.3/?.lua;/root/.luarocks/share/lua/5.3/?/init.lua;/root/torch/install/share/lua/5.3/?.lua;/root/torch/install/share/lua/5.3/?/init.lua;/root/torch/install/lib/lua/5.3/?.lua;/root/torch/install/lib/lua/5.3/?/init.lua;./?.lua;./?/init.lua'
os.environ['LUA_CPATH'] ='/root/.luarocks/lib/lua

[2020-03-06 13:18] mywnajsldkf opened #844 "[error] cmake .."
[code]
Hi, I'm working on JetsonNano Ubuntu 18.04
I got an error...!
Can you give me a solution?

[2020-03-09 19:05] sohamirian commented on #660
I get this error:

/home/myName/torch/install/bin/lua: /home/myNmae/torch/install/share/lua/5.2/trepl/init.lua:389: /home/myName/torch/install/share/lua/5.2/hdf5/ffi.lua:73: expected align(#) on line 689
stack traceback:
	[C]: in function 'error'
	/home/myNmae/torch/install/share/lua/5.2/trepl/init.lua:389: in function 'require'
	extract_features.lua:4: in main chunk
	[C]: in function 'dofile'
	..

[2020-04-06 13:20] ivanwu0404 opened #845 "error when "luarocks install cutorch""
dear,
this is the error message:
--------------------------------------------------------------------------------------------------------------------------------
...
ptxas warning : Value of threads per SM for entry _Z21kernelPointwiseApply2I19TensorDivConstantOpIhEhhjLin2ELin1EEv10TensorInfoIT0_T2_ES2_IT1_S4_ES4_T_ is out of range. .minnctapersm will be ignored
ptxas warning : Value of threads pe

[2020-04-15 03:37] ly1950 commented on #845
same question.do you solve it?

[2020-04-15 03:45] ivanwu0404 commented on #845
@ly1950 i finally use pytorch instead of torch7,
you can see this:
https://github.com/itayhubara/BinaryNet.pytorch

[2020-04-17 09:32] ahmedbr commented on #527
Have a look at this:
https://github.com/torch/cutorch/issues/834#issuecomment-428767642

[2020-04-29 14:50] labbihi commented on #834
I have this error after running : CC=gcc-7 CXX=g++-7 luarocks make rocks/cunn-scm-1.rockspec

[ 26%] Building NVCC (Device) object lib/THCUNN/CMakeFiles/THCUNN.dir/THCUNN_generated_LookupTableBag.cu.o
/tmp/cunn/lib/THCUNN/LookupTable.cu(44): error: identifier "FULL_MASK" is undefined

/tmp/cunn/lib/THCUNN/LookupTable.cu(62): error: identifier "FULL_MASK" is undefined

/tmp/cunn/lib/THCUNN/generic/

[2020-05-11 10:06] kamrankausar commented on #809
THCudaCheck FAIL file=/pytorch/torch/csrc/cuda/Module.cpp line=34 error=35 : CUDA driver version is insufficient for CUDA runtime version
Traceback (most recent call last):
  File "run.py", line 54, in <module>
    torch.cuda.set_device(opt.gpu)
  File "/home/kamran/paraphrase_sentence_regeneration/wean_github_code/wean_pyenv36/pyenv36/lib/python3.6/site-packages/torch/cuda/__init__.py", line 264,

[2020-05-11 21:10] airdine commented on #834
same issue with RTX 2080 ti,
using docker nvidia/cuda:10.0-cudnn7-devel-ubuntu16.04
cunn won't install with same output @labbihi

si someone have an idea?

[2020-08-27 03:54] mikeytag commented on #834
Ok, I was having issues installing `luarocks install cutorch` and kept doing the stuff that @nagadomi recommends at the top of this thread.

However, I kept corrupting ~/torch/extras/cutorch because I kept applying the atomic.patch described, but I was already cloning torch from https://github.com/nagadomi/torch and his repo already has the patches!

If you're going to use the @nagadomi repo, here

[2020-09-08 17:08] james-zhang-jz opened #846 "Issue with luarocks install cutorch on windows 10"
Hell all,

I have the following equipped on my machine:

Windows 10, Microsoft Visual Studio 2019 v16, Nvidia 1060, CUDA v11, Torch 7, Luajit 2.1, Lua 5.1,

and I am trying to do a luarocks install cutorch

and the following has happened in the x64 mode. Please let me know whether you have any insights on that.

enter image description here

It seems like a c++/c issue during the compilation.

Ple

[2020-10-06 08:02] maokang94 commented on #797
This didn't work for me
./clean.sh
export TORCH_NVCC_FLAGS="-D__CUDA_NO_HALF_OPERATORS__"
./install.sh

try this
`    sudo TORCH_NVCC_FLAGS="-D__CUDA_NO_HALF_OPERATORS__" ./install.sh
` the my project work

[2020-10-18 14:47] Looottch commented on #842
Have you find the solution now?

[2020-10-19 02:03] shen1994 commented on #842
see https://github.com/shen1994/DepthAwareStereo

[2020-10-19 23:52] Looottch commented on #842
you use original code in the end?

[2020-10-20 06:04] shen1994 commented on #842
see testing ops, this will help you.
Cause cpp_extension has been used

[2020-10-29 22:46] adem404 commented on #797
Windows user have to use:
**`SET NVCC_FLAGS="-D__CUDA_NO_HALF_OPERATORS__"`**
instead of
`export TORCH_NVCC_FLAGS="-D__CUDA_NO_HALF_OPERATORS__"`

[2020-11-27 00:57] mherkazandjian commented on #834
in case someone is interested, i put everything in a container

[code]

the dockerfile is here:

     https://github.com/mherkazandjian/docker-torch-rnn/blob/mher/char-rnn/CUDA/10.0-ubuntu18.04/Dockerfile

that includes a fix based on the dockerfile of https://github.com/crisbal/docker-torch-rnn/tree/master/CUDA/10.0-ubuntu18.04 with some mods to include char-rnn in the container

[2020-12-02 03:06] gemfield commented on #797
This comes from PyTorch CMake files:
[code]
That is why normal pytorch build won't get this error.

[2021-01-11 02:26] lochotan4794 opened #847 "Can't install curtorch"
Please help me!. I tried many solutions but the issue still occurs.

ptxas warning : Value of threads per SM for entry _Z21kernelPointwiseApply2I19TensorAddConstantOpIhEhhmLin1ELin1EEv10TensorInfoIT0_T2_ES2_IT1_S4_ES4_T_ is out of range. .minnctapersm will be ignored
ptxas warning : Value of threads per SM for entry _Z21kernelPointwiseApply2I19TensorAddConstantOpIhEhhmLin2ELin2EEv10TensorInfoIT0_T

[2021-01-11 02:31] lochotan4794 commented on #847
I have installed #
git clone https://github.com/torch/distro.git ~/torch --recursive
cd ~/torch; bash install-deps;
./install.sh
and then
luarocks install nn
luarocks install cudnn
luarocks install torch ==> not success
luarocks install cutorch ==> not success

Anyone help me, please! I am on Ubuntu 16.04, cuda 10

[2021-01-25 22:30] en1gma713 commented on #834
I keep getting
`CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
Please set them or make sure they are set and tested correctly in the CMake files:
CUDA_cublas_LIBRARY (ADVANCED)
    linked by target "THC" in directory /home/aiden/distro/extra/cutorch/lib/THC`
How do I fix this?

[2021-02-10 21:44] LevitatingBusinessMan opened #848 "Cutorch doesn't build with the newest cuda. (cudaPointerAttributes)"
On this line here: https://github.com/torch/cutorch/blob/master/init.c#L938 cutorch is trying to use a non-existing property of `cudaPointerAttributes`. This property already went deprecated in Cuda 10.

[2021-02-23 07:46] TingtingLiao commented on #834
Have you solved it? I have the same problem.

[2021-02-26 05:46] ckddls1321 commented on #797
On Nvidia NGC Docker, targets several GPUs. For deepspeed, we have to setup arch_list up to Volta architecture.
So I build like this and works.

[code]

[2021-06-19 15:30] TatianaZobnina commented on #834
on google colab after:

!export TORCH_NVCC_FLAGS="-D__CUDA_NO_HALF_OPERATORS__"
!/content/torch/install/bin/luarocks make /content/torch/extra/cutorch/rocks/cutorch-scm-1.rockspec

got this error:

Warning: unmatched variable LUALIB

jopts=$(getconf _NPROCESSORS_CONF)

echo "Building on $jopts cores"
cmake -E make_directory build && cd build && cmake .. -DLUALIB= -DLUA_INCDIR=/content/torch/instal

[2021-06-24 15:15] aldenjenkins commented on #848
Do you have a solution for this?

[2021-07-29 02:38] lochotan4794 commented on #834
@nagadomi Please help me. I follow your instruction but still get the error.
-- Removing -DNDEBUG from compile flags
-- TH_LIBRARIES: TH
-- MAGMA not found. Compiling without MAGMA support
-- Automatic GPU detection failed. Building for common architectures.
-- Autodetected CUDA architecture(s): 3.5;5.0;5.3;6.0;6.1;7.0;7.5;7.5+PTX
-- got cuda version 10.1
-- Found CUDA with FP16 support, compiling

[2021-08-04 06:46] olahaye74 commented on #848
Same problem for me
init.c:938:34: error: 'struct cudaPointerAttributes' has no member named 'isManaged'
     lua_pushboolean(L, attributes.isManaged);

[2021-09-16 22:39] LeducH commented on #848
I get this error when I want to build and install with arch

[code]

[2021-11-07 09:57] bluedevils23 commented on #847
use cuda9 or use nagadomi's patch version of torch https://github.com/nagadomi/distro
Patch info: https://github.com/torch/cutorch/issues/834

[2021-11-08 20:13] LevitatingBusinessMan commented on #848
[Seems like somebody on the ArchLinux user repositories has found a temporary fix.
](https://aur.archlinux.org/packages/torch7-cutorch-git/#comment-793257)

Replace `.isManaged` with `.type == 3` (cudaMemoryType::cudaMemoryTypeManaged).

[2021-11-08 22:15] LevitatingBusinessMan commented on #848
I applied a patch to the AUR package, I am not entirely sure if it will work properly in programs using `cutorch_isManagedPtr` but at least the program compiles again.

https://gist.github.com/LevitatingBusinessMan/0a214c62471999a1d5afbdb732e773a0

[2021-11-18 22:30] ghost opened #849 "I am missing some functions"
THCGeneral.c.obj : error LNK2019: unresolved external symbol THAtomicAddPtrdiff referenced in function THCHeapUpdate
THCTensor.c.obj : error LNK2019: unresolved external symbol THLongStorage_newInferSize referenced in function THCudaByteTensor_newView
THCTensor.c.obj : error LNK2019: unresolved external symbol THLongStorage_inferExpandGeometry referenced in function THCudaByteTensor_expand
THCTens

[2021-11-19 18:31] ghost opened #850 "Why does it demand half float?"
There is no way to disable it, and it will not work because it will not compile with half float.

[2021-11-19 19:16] ghost opened #851 "Torch must not die"
For future sciences

[2021-11-19 20:27] #851 closed, assigned to nobody

[2021-11-19 20:27] #850 closed, assigned to nobody

[2021-11-19 20:28] #849 closed, assigned to nobody

[2021-11-21 00:43] ghost opened #852 "I was able to compile this on Ubuntu 20.04"
I had to remove all half float, it will not compile.
I had to change a few minor things.
I will later fix the half float.
Thank you.

[2021-11-24 21:03] ghost commented on #852
If anyone interested I have better build instruction now using cuda 10.2/gcc8. you will probably need to change the source so it doesn't build half float by using CUDA_HALF_TENSOR.

https://github.com/controlLOGIC-labs/Build-cutorch-cunn

[2021-12-24 08:56] qitop commented on #834
I have followed all the steps. My system gets stuck when I type
[code]

[2022-01-14 06:39] mw66 commented on #848
according to:

https://github.com/nagadomi/distro/issues/11#issuecomment-645686463

[code]

[2022-01-14 07:00] mw66 commented on #834
it should be:

[code]

[2022-01-17 04:23] LevitatingBusinessMan commented on #848
@mw66 Yep that's exactly it. `cudaMemoryTypeManaged` should be a constant for `3`.

[2022-03-30 13:32] pablodalma93 opened #853 "Installing error, the unauthenticated git protocol on port 9418 is no longer supported"
I'm getting this error when installing cutorch with

luarocks install --server=https://luarocks.org/dev cutorch or
luarocks install cutorch

Installing error, the unauthenticated git protocol on port 9418 is no longer supported

Error: failed cloning git repository

[2022-04-23 22:29] varshinees commented on #853
This worked for me! Run this in the terminal and try `luarocks install cutorch` again

`git config --global url."https://github.com/".insteadOf git://github.com/`

[2022-06-13 08:48] iggnaT opened #854 "can't install cutorch"
error message:
[code]

full log: https://pastebin.com/ps8q1H3u (edited to fit into 512 kb limit)

i'm using wsl on windows 11 if that can help

[2022-06-24 20:00] #853 closed, assigned to nobody